{% extends "base.html" %}
{% load static %}
​
{% block head %}
    <!-- css -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/subscription/guide.css' %}">
    <link rel="shortcut icon" href="#">
{% endblock %}
​
{% block content %}
  <div class="guide">
    <div class="guide-info">
      <h1>정기구독</h1>
      <p>선택하신 일자에 맞춰 3일 내 로스팅 한 원두 상품 200g을 매달 받으실 수 있습니다.<br>배송비 무료
      </p>
    </div>
  </div>
​
  <div class="flip-wrapper" style="margin-bottom:20px;">
    <div class="flip">
      <div class="card">
        <!-- 앞면 -->
        <div class="front">
          <h1>일반</h1>
          <p>3개월</p>
          <h3>₩50,000</h3>
          <p>더 알아보기 ></p>
        </div>
        <!-- 뒷면 -->
        <div class="back">
          <form action="result" method="POST">
            {% csrf_token %}
            <h3>혜택</h3>
            <p class="subscribe-info">매달 <strong>한</strong> 종류의 추천 원두 샘플을<br>추가로 받으실 수 있습니다.<br>(100g)</p>
            <input type="hidden" name="status" value="일반">
            <input type="submit" value="구독하기" class="subscribe-btn"></input>
          </form>
        </div>
      </div>
    </div>
    <div class="flip">
      <div class="card">
        <!-- 앞면 -->
        <div class="front">
          <h1>프리미엄</h1>
          <p>12개월</p>
          <h3>₩100,000</h3>
          <p>더 알아보기 ></p>
        </div>
        <!-- 뒷면 -->
        <div class="back">
          <form action="result?next={{ request.path }}" method="POST">
            {% csrf_token %}
            <h3>혜택</h3>
            <p class="subscribe-info">매달 <strong>두</strong> 종류의 추천 원두 샘플을<br>추가로 받으실 수 있습니다.<br>(100g*2)</p>
            <input type="hidden" name="status" value="프리미엄">
            <input type="submit" value="구독하기" class="subscribe-btn"></input>
          </form>
        </div>
      </div>
    </div>
    <div class="flip">
      <div class="card">
        <!-- 앞면 -->
        <div class="front">
          <h1>블랙라벨</h1>
          <p>연회비 납부</p>
          <h3>₩150,000</h3>
          <p>더 알아보기 ></p>
        </div>
        <!-- 뒷면 -->
        <div class="back">
          <form action="result" method="POST">
            {% csrf_token %}
            <h3>혜택</h3>
            <p class="subscribe-info">매달 <strong>두</strong> 종류의 추천 원두 샘플을<br>추가로 받으실 수 있습니다.<br>(100g*2)<br>
              + 모든 상품 구매 시 20% 할인<br>
              + 생일 선물*원하시는 원두 상품 1건</p>
            <input type="hidden" name="status" value="블랙라벨">
            <input type="submit" value="구독하기" class="subscribe-btn"></input>
          </form>
        </div>
      </div>
    </div>
  </div>
  
  <script src="{% static 'js/subscription/guide.js' %}"></script>
{% endblock %}