{% extends 'base.html' %}
{% load static %}
{% load socialaccount %}

{% block head %}
<style>
    .login-container {
        width: 80vw;
        height:90vh;
        margin: auto;
        display:flex;
        justify-content: center;
        align-items:center;
    }
    .content-wrap {
        width:60%;
        margin:auto;
        display: inline-block;
        vertical-align: middle;
        text-align:center;
    }
    .form-group {
        width:60%;
        margin: auto;
        margin-bottom:1vh;
    }
    .form-wrap {
        display:flex;
        flex-direction:column;       
    }
    .title {
        margin-bottom: 3vh;
    }
    .bottom-item {
        display:flex;
        justify-content:space-between;
        margin-top: 5vh;
    }
</style>
{% endblock %}

{% block content %}
<!-- login start -->
<div class="login-container">
    <div class="content-wrap">
<section id="signin" class="signin">    <!-- signin -->
    <div class="container my-3">
        <div class="title"><h2>로그인</h2></div> <!-- 수정된 부분 -->
        <div id="signin_header">
        </div>
        <div id="signin_body">
            <form method="post" class="post-form" action="{% url 'common:login' %}">
                {% csrf_token %}
                {% include "form_errors.html" %}
                <div class="form-wrap">
                    <div class="form-group">
                        <input placeholder="ID" type="text" class="form-control" name="username" id="username" value="{{ form.username.value|default_if_none:'' }}">
                    </div>
                    <div class="form-group">
                        <input placeholder="비밀번호" type="password" class="form-control" name="password" id="password" value="{{ form.password.value|default_if_none:'' }}">
                    </div>
                </div>

                <button type="submit" class="btn btn-primary">로그인</button>
                <button type="button" onclick="location.href = '{% provider_login_url 'kakao' %}'">
                    <img src="{% static 'logo/icon_kakao.png' %}" alt="Kakao Logo" style="width: 33px;">
                </button>
            </form>

            <div class="bottom-item">            
                <a href="{% url 'common:signup' %}">회원가입</a>
                <div class="right-item">
                    <a href="#">아이디 찾기</a>
                    <span class="separator" style="margin-left: 0px;">|</span>
                    <a href="{% url 'common:password_reset' %}">비밀번호 찾기</a>
                </div>
            </div>
        </div>
    </div>
</section>
</div> 
</div> <!-- signin -->
<!-- login end -->
{% endblock %}
