{% extends "base.html" %}
{% block content %}
<section id="password_reset" class="signin">
    <div class="container my-3 " style="margin-top:145px;">
        <div class='title'  style="margin-left: 500px;">비밀번호 찾기</div>
        <form method="post" class="post-form" action= "{% url 'common:password_reset' %}">
            {% csrf_token %}
            {% include "form_errors.html" %}
            <div class="form-group">
                <input placeholder="ID" type="text" class="form-control" name="username" id="username"
                       value="{{ form.username.value|default_if_none:'' }}" style="width: 500px; margin-left: 340px;">
            </div>
            <div class="form-group">
                <input placeholder="email" type="email" class="form-control" name="email" id="email"
                       value="{{ form.email.value|default_if_none:'' }}" style="width: 500px; margin-left: 340px;">
            </div>
            <button type="submit" style="margin-left: 550px;" class="btn btn-primary">이메일 전송</button>
        </form>
    </div>
</section>
{% endblock %}