<!-- top-area Start -->
<header class="top-area">
    <div class="header-area">
        <!-- Start Navigation -->
        <nav class="navbar navbar-default bootsnav navbar-fixed dark no-background">

            <div class="container">

                <!-- Start Header Navigation -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu">
                        <i class="fa fa-bars"></i>
                    </button>
                    <a class="navbar-brand" href="/" style = 'color: rgb(255,165,63)'>Coffee</a>
                </div><!--/.navbar-header-->
                <!-- End Header Navigation -->

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse menu-ui-design" id="navbar-menu">
                    <ul class="nav navbar-nav navbar-left" data-in="fadeInDown" data-out="fadeOutUp">
                        <li class=" smooth-menu active"></li>
                        <li class=" smooth-menu"><a href="/coffee">원두</a></li>
                        <li class="smooth-menu" onclick="goMD()"><a>MD상품</a></li>
                        <li class="smooth-menu"><a href="/test">원두추천받기</a></li>
                        <li class="smooth-menu"><a href="/subscribe">정기구독</a></li>
                        <li class="smooth-menu" onclick="servicePopup()">
                            <a>서비스소개</a>
                        </li>
                    </ul><!--/.nav -->
                    <ul class="nav navbar-nav navbar-right" data-in="fadeInDown" data-out="fadeOutUp">
                        <li class="smooth-menu active"></li>
                        <li class="smooth-menu" onclick="searchicon()">
                            <a style="display: inline-flex; justify-content: center; align-items: center; }">
                                <input type="text" class="form-control" placeholder="search" style="">
                                <span class="material-icons" style="border: 1px solid #ccc; padding: 5px; border-radius: 5px;">search</span>
                            </a>
                        </li>
                        {% if user.is_authenticated %}
                        <li class="smooth-menu" style="cursor: pointer">       <!-- onclick = 'goMypage()' -->
                            <a href="{% url 'main:mypage' %}"><span class="material-icons">person</span></a>
                        </li>
                        {% endif %}
                        {% if user.is_authenticated %}
                            {% if item_count > 0 %}
                            <li class="smooth-menu">
                                <a href="{% url 'cart:cart_detail' %}"><span class="material-icons">local_mall</span>({{item_count}})</a>
                            </li>
                            {% else %}
                            <li>
                                <a href="{% url 'cart:cart_detail' %}"><span class="material-icons">local_mall</span></a>
                            </li>
                            {% endif %}
                        {% endif %}

                        {% if user.is_authenticated %}
                        <li class=" smooth-menu" style="cursor: pointer">
                            <a class="nav-link" href="{% url 'common:logout' %}"><span class="material-icons">logout</span></a>
                        </li>
                        {% else %}
                        <li class=" smooth-menu" style="cursor: pointer">
                            <a href="{% url 'common:login' %}">로그인</a>
                        </li>
                        {% endif %}
                    </ul>
                </div><!-- /.navbar-collapse -->
            </div><!--/.container-->
        </nav><!--/nav-->
        <!-- End Navigation -->
    </div><!--/.header-area-->

    <div class="clearfix"></div>

</header><!-- /.top-area-->
<!-- top-area End -->

<script type="text/javascript">
    function goSignin() {
        window.location = "/signin/";
    }
    function goMD() {
        window.location = "/products/MD/";
    }
    function servicePopup(){
        var newWin = window.open("/main/popup.html", " ", "width=600, height=600");
        if(newWin == null){     //팝업이 차단되어 있다면 if문 실행
            alert("팝업이 차단되어 있습니다. 팝업차단을 해제하고 새로고침해 주세요.");
        }
    }
</script>
