<!-- top-area Start -->
<header class="top-area">
    <div class="header-area">
        <!-- Start Navigation -->
        <nav class="navbar navbar-default bootsnav navbar-fixed dark no-background">

            <div class="container">

                <!-- Start Header Navigation -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu">
                        <i class="fa fa-bars"></i>
                    </button>
                    <a class="navbar-brand" href="/" style = 'color: rgb(255,165,63)'>Coffee</a>
                </div><!--/.navbar-header-->
                <!-- End Header Navigation -->

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse menu-ui-design" id="navbar-menu">
                    <ul class="nav navbar-nav navbar-left" data-in="fadeInDown" data-out="fadeOutUp">
                        <li class=" smooth-menu active"></li>
                        <li class=" smooth-menu"><a href="#education">원두</a></li>
                        <li class="smooth-menu" onclick="goMD()"><a>MD상품</a></li>
                        <li class="smooth-menu"><a href="#experience">원두추천받기</a></li>
                        <li class="smooth-menu"><a href="#profiles">정기구독</a></li>
                    </ul><!--/.nav -->
                    <ul class="nav navbar-nav navbar-right" data-in="fadeInDown" data-out="fadeOutUp">
                        <li class="smooth-menu active"></li>
                        <li class="smooth-menu" onclick="searchicon()">
                            <a style="display: inline-flex; justify-content: center; align-items: center; }">
                                <input type="text" class="form-control" placeholder="search">
                                <span class="material-icons" style="border: 1px solid #ccc; padding: 5px; border-radius: 5px;">search</span>
                            </a>
                        </li>
                        <li class="smooth-menu" onclick = 'goMypage()' style="cursor: pointer">       <!-- onclick = 'goMypage()' -->
                            <a><span class="material-icons">person</span></a>
                        </li>
                        <li class="smooth-menu">
                            <a href="#education"><span class="material-icons">local_mall</span></a>
                        </li>
                        <li class=" smooth-menu" onclick = 'goSignin()' style="cursor: pointer">
                            <a>sign in</a>
                        </li>
                    </ul>
                </div><!-- /.navbar-collapse -->
            </div><!--/.container-->
        </nav><!--/nav-->
        <!-- End Navigation -->
    </div><!--/.header-area-->

    <div class="clearfix"></div>

</header><!-- /.top-area-->
<!-- top-area End -->

<script type="text/javascript">
    function goMypage() {
        window.location = "/mypage/";
    }
    function goSignin() {
        window.location = "/signin/";
    }
    function goMD() {
        window.location = "/products/MD/";
    }
</script>
