.header {
    width: 70%;
    margin: auto;
    margin-top: 11vh;
    margin-bottom: 2%;
    font-weight: bold;
}

.hr-header {
    width: 70%;
    margin: auto;
    margin-bottom: 2%;
}

.coffee-list-container {
    width: 70%;
    display: flex;
    margin: auto;
    margin-bottom: 5%;
}

.paginator {
    width: 80%;
}

.paginator > p {
    font-size: 100%;
    margin-bottom: 1vh;
    letter-spacing: 0px;
}

.paginator-content {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center; 
}

.filter {
    width: 20%;
}


.page-links {
    width: 100%;
    display: flex;
    margin: auto;
    margin-top: 1vh;
    justify-content: space-between;

}

/* 버튼 */
.page-links > a {
    border: 1px solid #9d9d9d;
    background-color: #f8f8f8;
    color: black;
    padding: 1%;
    width: 7%;
    text-align: center;
    justify-content: center;
    text-decoration: none;
}

.page-num {
    width: 5vw;
    display: flex;
}

.page-num > p {
    margin: auto;
    color: #686868;
}

.hr-style {
    width: 12vw;
    border: 0; /* Remove the default border */
    height: 1.5px; /* Set the height of the line */
    background-color: #c0c0c0; /* Set the color of the line */
    margin: 10% 0; 
}

#coffeeForm > h1 {
    font-size: xx-large;
    font-weight: bold;
}

.roas-name-content {
    font-weight:lighter;
    font-size: medium;
    color: #464646;
  }
  
  .content1 {
    height: 8vh;
  }

  .truncate {
    width: 100%;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    display: -webkit-box;
  }
  
  .card {
    background-color: #f4f4f4;
    border-radius: 5px;
  }
  
  .card > a > img {
    background-color: #fff;
  }

  .hide {
    background-color: none;
    color: white;
    padding: 1%;
    width: 7%;
    text-align: center;
    justify-content: center;
    text-decoration: none;
  }
