{% extends "base.html" %}
{% load static %}


{% block head %}
    <title>메인사이트</title>
    <!-- css -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/test/test.css' %}">
    <link rel="shortcut icon" href="#">
{% endblock %}


{% block content %}
<div class="body">
    <div class="test-container">
        <!-- 질문 폼 -->
        <div class="form-outer">
            <form action="result" method="GET">
                {% csrf_token %}
                <!-- 첫번째 질문 -->
                <div class="page slidepage">
                    <div class="title">
                        <h3>카페인을 원하시나요?</h3>
                    </div>
                    <div class="fieldbox">
                        <button class="field1 hidden" onclick="change_firbtn(event)" name="decaf" type="button" id="valbtn" value="0">
                            디카페인
                        </button>
                        <button class="field1 hidden" onclick="change_firbtn(event)" type="button" id="valbtn" value="1">카페인</button>
                    </div>
                    <div class="field-btns">
                        <button class="hiddenbtn" type="button">이전</button>
                        <button class="nextBtn" id="btn" type="button">다음</button>
                    </div>
                </div>
                
                <!-- 두번째 질문 -->
                <div class="page">
                    <div class="title">
                        <h3>원하시는 원두 타입을 고르세요</h3>
                        </div>
                    <div class="fieldbox">
                        <button class="field2" onclick="change_secbtn(event)" type="button" id="valbtn" value="0">싱글오리진</button>
                        <button class="field2" onclick="change_secbtn(event)" type="button" id="valbtn" value="1">블렌드</button>
                    </div>
                    <div class="field-btns">
                        <button class="prev-1 prev" id="btn" type="button">이전</button>
                        <button class="next-1 next" id="btn" type="button">다음</button>
                    </div>
                </div>
                
                <!-- 세번째 질문 -->
                <div class="page">
                    <div class="title">
                        <h3>원하시는 컵노트를 고르세요</h3>
                    </div>
                    <div class="fieldbox2">
                        <div class="row-wrap">
                            <div class="row1">
                                <button class="field3" onclick="change_thirbtn(this)" type="button" id="valbtn" value="꽃">
                                    <div class="field-content">
                                        <img src="/static/icon/blackoutline/flower.png" alt="{{coffee.CoffeeID}}" class="card-img-top">
                                        <span>꽃</span>
                                    </div>
                                </button>
                                <button class="field3" onclick="change_thirbtn(this)" type="button" id="valbtn" value="초콜릿">
                                    <div class="field-content">
                                        <img src="/static/icon/blackoutline/choco.png" alt="{{coffee.CoffeeID}}" class="card-img-top">
                                        <span>초콜릿</span>
                                    </div>
                                </button>
                                <button class="field3" onclick="change_thirbtn(this)" type="button" id="valbtn" value="고소함">
                                    <div class="field-content">
                                        <img src="/static/icon/blackoutline/nutty.png" alt="{{coffee.CoffeeID}}" class="card-img-top">
                                        <span>고소한</span>
                                    </div>
                                </button>
                            </div>
                            <div class="row2">
                                <button class="field3" onclick="change_thirbtn(this)" type="button" id="valbtn" value="달콤함">
                                    <div class="field-content">
                                        <img src="/static/icon/blackoutline/sweet.png" alt="{{coffee.CoffeeID}}" class="card-img-top">
                                        <span>달콤한</span>
                                    </div>
                                </button>
                                <button class="field3" onclick="change_thirbtn(this)" type="button" id="valbtn" value="허브">
                                    <div class="field-content">
                                        <img src="/static/icon/blackoutline/herb.png" alt="{{coffee.CoffeeID}}" class="card-img-top">
                                        <span>허브</span>
                                    </div>
                                </button>
                                <button class="field3" onclick="change_thirbtn(this)" type="button" id="valbtn" value="과일">
                                    <div class="field-content">
                                        <img src="/static/icon/blackoutline/fruit.png" alt="{{coffee.CoffeeID}}" class="card-img-top">
                                        <span>과일</span>
                                    </div>
                                </button>
                                <button class="field3" onclick="change_thirbtn(this)" type="button" id="valbtn" value="향료">
                                    <div class="field-content">
                                        <img src="/static/icon/blackoutline/spice.png" alt="{{coffee.CoffeeID}}" class="card-img-top">
                                        <span>향료</span>
                                    </div>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="field-btns">
                        <button class="prev-2 prev" id="btn" type="button">이전</button>
                        <button class="next-2 next" id="btn" type="button">다음</button>
                    </div>
                </div>

                <!-- 네번째 질문 -->
                <div class="page">
                    <div class="title">
                        <h3>맛의 강도를 골라주세요</h3>
                    </div>
                    <!--슬라이드 바-->
                    <div class="fieldbox tohide hidden">
                        <div class="slidecontainer">
                            <input type="range" id="sour" min="1" max="5" value="3" class="slider">
                            <p>신맛: <span id="sour-value"></span></p>
                        </div>
                        <div class="slidecontainer">
                            <input type="range" id="sweet" min="1" max="5" value="3" class="slider">
                            <p>단맛: <span id="sweet-value"></span></p>
                        </div>
                        <div class="slidecontainer">
                            <input type="range" id="bitter" min="1" max="5" value="3" class="slider">
                            <p>쓴맛: <span id="bitter-value"></span></p>
                        </div>
                        <div class="slidecontainer">
                            <input type="range" id="body" min="1" max="5" value="3" class="slider">
                            <p>바디감: <span id="body-value"></span></p>
                        </div>
                    </div>
                    <div class="field-btns">
                        <button class="prev-3 prev" id="btn" type="button">이전</button>
                        <input type="submit" onclick="send_result(event)" id="subbtn" value="추천받기"></input>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- 자바스크립트 파일 -->
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="https://code.jquery.com/jquery-3.4.1.js"></script>
<script src="{% static 'js/test/test.js' %}"></script>
<script src="https://use.fontawesome.com/releases/v5.15.4/js/all.js" data-auto-a11y="true" ></script>
{% endblock %}