{% extends "base.html" %}
{% load static %}
{% load humanize %}

{% block head %}
    <title>메인사이트</title>
    <!-- css -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/coffee.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/swiper-bundle.min.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="shortcut icon" href="#">

{% endblock %}

{% block content %}
<div class="upper">
    <div class="section1">
        <img class="coffee_img" src="/static/coffee_img/{{coffee_info.CoffeeID}}.jpg" alt="{{coffee_info.CoffeeID}}">
    </div>
    <div class="section2">
        <div class="section2-1">
            <h1>{{coffee_info.CoffeeName}}</h1>
        </div>
        <div class="section2-2">
            <div class="section2-2-1">
                <p>
                    원산지 <br>
                    용량 <br>
                    가격 <br>
                </p>
            </div>
            <div class="section2-2-2">
                <p>
                    <span>{{coffee_info.Country}}</span><br>
                    <span>{{coffee_info.Capacity}}</span><br>
                    <span> {{coffee_info.Price|intcomma}}</span><br>
                </p>
            </div>
        </div>
        <div class="section2-3">
            <a class="roas-btn" href="/roastery/{{coffee_info.RoasteryID_id}}/">
                {% for roastery in roastery_name %}
                    {% if roastery.RoasteryID == coffee_info.RoasteryID_id %}
                        <img class="roas_img" src="/static/roastery_img/{{roastery.RoasteryName}}.jpg">
                    {%endif%}
                {%endfor%}
                {% for roastery in roastery_name %}
                    {% if roastery.RoasteryID == coffee_info.RoasteryID_id %}
                        {{roastery.RoasteryName}}
                    {%endif%}
                {%endfor%}
                <span class="material-symbols-outlined" style="padding-top:10px">navigate_next</span>
            </a>
        </div>
        <div class="section2-4">
            <button class="btn">장바구니에 담기</button>
            <button class="btn">원두 구독하기</button>
        </div>
    </div>
</div>

<hr/>

<div class="wrapper" style="position=relative;">
    <h2>이 제품과 비슷한 상품</h2>
    <div class="swiper-container mySwiper">
        <div class="slide-content">
            <div class="swiper-wrapper">
                {% for rec in cosine_sim %}
                    <div class="item swiper-slide">
                        <img class="rec_img" src="/static/coffee_img/{{rec.CoffeeID}}.jpg">
                        <h4 class="rec-name">{{rec.CoffeeName}}</h4>
                        <a class="rec-btn" href="/coffee/{{rec.CoffeeID}}/">보러가기</a>
                    </div>
                {% endfor %}
            </div>
        </div> 
    </div>
    
</div>


<hr/>

<div class="wrapper">
    <div class="info-header">
        <span class="info-header-text">원두 특징</span>
    </div>
    <div class="info">
        <span>{{coffee_info.CoffeeInfo}}</span>
    </div>

    <div class="info-section">
        {% if coffee_info.CoffeeType %}
        <div class="info-wrapper">
            <h5>{{coffee_info.CoffeeType}}</h5>
            <span class="material-symbols-outlined" style="font-size:100px;">local_cafe</span>
        </div>
        {% endif %}
        {% if coffee_info.RoastingPoint %}
        <div class="info-wrapper">
            <h5>{{coffee_info.RoastingPoint}}</h5>
            <span class="material-symbols-outlined" style="font-size:100px;">local_cafe</span>
        </div>
        {% endif %}
        {% if coffee_info.Sustainability %}
        <div class="info-wrapper">
            <h5>{{coffee_info.Sustainability}}</h5>
            <span class="material-symbols-outlined" style="font-size:100px;">local_cafe</span>
        </div>
        {% endif %}
        {% if coffee_info.CupNote %}
        <div class="info-wrapper" id="cupnote-wrapper">
            <h5>과일,허브</h5>
            <span class="material-symbols-outlined" style="font-size:100px;">local_cafe</span>
            <div class="text-box">{{coffee_info.CupNote}}</div>
        </div>
        {% endif %}
    </div>

    <div class="bar-wrapper">
        <div class="bar">
            <div class="bar-label">단맛</div>
            <progress value={{coffee_info.Sweetness}} max="5"></progress>
        </div>
        <div class="bar">
            <div class="bar-label">신맛</div>
            <progress value={{coffee_info.Sourness}} max="5"></progress>
        </div>
        <div class="bar">
            <div class="bar-label">쓴맛</div>
            <progress value={{coffee_info.Bitterness}} max="5"></progress>
        </div>
        <div class="bar">
            <div class="bar-label">바디감</div>
            <progress value={{coffee_info.Body}} max="5"></progress>
        </div>
    </div>

</div>

<!-- 자바스크립트 파일 -->

<script src="{% static 'js/swiper-bundle.min.js' %}"></script>
<script src="{% static 'js/coffee.js' %}"></script>
{% endblock %}
