<h1>{{coffee_info.CoffeeName}}</h1>
    <ul>
    {% for roastery in roastery_name %}
        {% if roastery.RoasteryID == coffee_info.RoasteryID_id %}
        <li><a href="/roastery/{{coffee_info.RoasteryID_id}}/">{{roastery.RoasteryName}}</a></li>
        {%endif%}
    {%endfor%}
    </ul>

<h2>이 원두와 비슷한 원두들!</h2>
<div>
    <ul>
        {% for rec in cosine_sim %}
        <li><a href="/coffee/{{rec.CoffeeID}}/">{{rec.CoffeeName}}</a></li>
        {% endfor %}
    </ul>
</div>
<div>
    {{coffee_info.CoffeeInfo}}
</div>
<div>
    이 커피는 {{coffee_info.CupNote|slice:"1:-1"}}향을 가진 커피입니다.
</div>
<h5>원산지 : {{coffee_info.Country}}</h5>
<h5>용량 : {{coffee_info.Capacity}}</h5>
