{% extends "base.html" %}
{% load static %}


{% block head %}
    <title>메인사이트</title>
    <!-- css -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel="shortcut icon" href="#">
{% endblock %}


{% block content %}

<div class="container">
    <!-- 질문 폼 -->
    <div class="form-outer">
        <form action="/survey-review/" method="POST">
            {% csrf_token %}
            <!-- 첫번째 질문 -->
            <div class="page slidepage">
                <div class="title">
                    <h2>이메일</h2>
                </div>
                <div class="fieldbox">
                    <input type="email" name = "email">
                </div>
                <div class="field-btns">
                    <button class="hiddenbtn" type="button">이전</button>
                    <button class="nextBtn" id="btn" type="button">다음</button>
                </div>
            </div>

            <!-- 두번째 질문 -->
            <div class="page">
                <div class="title">
                    <h2>카페인을 원하시나요?</h2>
                </div>
                <div class="fieldbox">
                    <button class="field1 hidden" onclick="change_firbtn(event)" name="decaf" type="button" id="valbtn" value="1">디카페인</button>
                    <button class="field1 hidden" onclick="change_firbtn(event)" type="button" id="valbtn" value="0">카페인</button>
                </div>
                <div class="field-btns">
                    <button class="prev-1 prev" id="btn" type="button">이전</button>
                    <button class="next-1 next" id="btn" type="button">다음</button>
                </div>
            </div>

            <!-- 두번째 질문 -->
            <div class="page">
                <div class="title">
                    <h2>원하시는 원두 타입을 고르세요</h2>
                    </div>
                <div class="fieldbox">
                    <button class="field2" onclick="change_secbtn(event)" type="button" id="valbtn" value="싱글오리진">싱글오리진</button>
                    <button class="field2" onclick="change_secbtn(event)" type="button" id="valbtn" value="블렌드">블렌드</button>
                </div>
                <div class="field-btns">
                    <button class="prev-1 prev" id="btn" type="button">이전</button>
                    <button class="next-1 next" id="btn" type="button">다음</button>
                </div>
            </div>
            
            <!-- 세번째 질문 -->
            <div class="page">
                <div class="title">
                    <h2>원하시는 컵노트를 고르세요</h2>
                </div>
                <div class="fieldbox">
                    <button class="field3" onclick="change_thirbtn(this)" type="button" id="valbtn" value="꽃">꽃</button>
                    <button class="field3" onclick="change_thirbtn(this)" type="button" id="valbtn" value="초콜릿">초콜릿</button>
                    <button class="field3" onclick="change_thirbtn(this)" type="button" id="valbtn" value="고소한">고소한</button>
                    <button class="field3" onclick="change_thirbtn(this)" type="button" id="valbtn" value="달콤한">달콤한</button>
                    <button class="field3" onclick="change_thirbtn(this)" type="button" id="valbtn" value="허브">허브</button>
                    <button class="field3" onclick="change_thirbtn(this)" type="button" id="valbtn" value="과일">과일</button>
                    <button class="field3" onclick="change_thirbtn(this)" type="button" id="valbtn" value="향료">향료</button>
                </div>
                <div class="field-btns">
                    <button class="prev-2 prev" id="btn" type="button">이전</button>
                    <button class="next-2 next" id="btn" type="button">다음</button>
                </div>
            </div>

            <!-- 네번째 질문 -->
            <div class="page">
                <div class="title">
                    <h2>맛의 강도를 골라주세요</h2>
                </div>
                <!--슬라이드 바-->
                <div class="fieldbox tohide hidden">
                    <div class="slidecontainer">
                        <input type="range" id="sour" min="1" max="5" value="3" class="slider">
                        <p>신맛: <span id="sour-value"></span></p>
                    </div>
                    <div class="slidecontainer">
                        <input type="range" id="sweet" min="1" max="5" value="3" class="slider">
                        <p>단맛: <span id="sweet-value"></span></p>
                    </div>
                    <div class="slidecontainer">
                        <input type="range" id="bitter" min="1" max="5" value="3" class="slider">
                        <p>쓴맛: <span id="bitter-value"></span></p>
                    </div>
                    <div class="slidecontainer">
                        <input type="range" id="body" min="1" max="5" value="3" class="slider">
                        <p>바디감: <span id="body-value"></span></p>
                    </div>
                </div>
                <div class="field-btns">
                    <button class="prev-2 prev" id="btn" type="button">이전</button>
                    <button class="next-2 next" id="btn" type="button">다음</button>
                </div>
            </div>
            <!--선호도 조사-->
            <div class="page">
                <div class="title">
                    <h2>예상 선호도를 선택해 주세요!</h2>
                    <h3>다음 원두들의 설명을 읽고 예상되는 선호도를 입력해주세요. </h3>
                    <h5>좋아하지 않을 것 같다 : 1 ~ 즐겨 마실 것 같다 : 5</h5>
                </div>
                <!--슬라이드 바-->
                <div class="fieldbox tohide hidden">
                    <p>{{i.CoffeeName}}: </p>
                    <fieldset>
                        <label for="{{ i.CoffeeID }}_1">
                            <input type="radio" name="{{ i.CoffeeID }}" value="1" id="{{ i.CoffeeID }}_1">
                            <span>1</span>
                        </label>

                        <label for="{{ i.CoffeeID }}_2">
                            <input type="radio" name="{{ i.CoffeeID }}" value="2" id="{{ i.CoffeeID }}_2">
                            <span>2</span>
                        </label>

                        <label for="{{ i.CoffeeID }}_3">
                            <input type="radio" name="{{ i.CoffeeID }}" value="3" id="{{ i.CoffeeID }}_3" checked>
                            <span>3</span>
                        </label>

                        <label for="{{ i.CoffeeID }}_4">
                            <input type="radio" name="{{ i.CoffeeID }}" value="4" id="{{ i.CoffeeID }}_4">
                            <span>4</span>
                        </label>

                        <label for="{{ i.CoffeeID }}_5">
                            <input type="radio" name="{{ i.CoffeeID }}" value="5" id="{{ i.CoffeeID }}_5">
                            <span>5</span>
                        </label>
                    </fieldset>
                    <div class="wrapper">
                        <div class="info-header">
                            <span class="info-header-text">원두 특징</span>
                        </div>
                        <div class="info">
                            <span>{{i.CoffeeType}}, {{i.RoastingPoint}}</span>
                            <span>{{i.CoffeeInfo}}</span>
                        </div>
                        <div class = "info">
                            <span>바디감 : {{i.Body}}, 산미 : {{i.Sourness}},
                            단맛 : {{i.Sweetness}}, 쓴맛 : {{i.Bitterness}} </span>
                        </div>
                        <div class="info">
                            {% if i.CupNote %}
                            <span>이 원두의 컵 노트 : {{i.CupNote|slice:"1:-1"}} 향</span>
                            {%else%}
                            <span>이 원두의 컵 노트 정보가 없습니다.</span>
                            {% endif %}
                        </div>
                    {% endfor %}
                    </div>
                </div>
                <div class="field-btns">
                    <button class="prev-3 prev" id="btn" type="button">이전</button>
                    <input type="submit" onclick="send_result(event)" id="subbtn" value="제출하기"></input>
                </div>
        </form>
    </div>
</div>


<!-- 자바스크립트 파일 -->
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="https://code.jquery.com/jquery-3.4.1.js"></script>
<script src="{% static 'js/temp.js' %}"></script>
<script src="https://use.fontawesome.com/releases/v5.15.4/js/all.js" data-auto-a11y="true" ></script>
{% endblock %}