<h1>예상 선호도를 선택해 주세요!</h1>
<h3>다음 원두들의 설명을 읽고 예상되는 선호도를 입력해주세요. </h3>
{{userinfo.email}}

<form action="/review-submit/{{userinfo.id}}" method="POST">
    {% csrf_token %}
    <h5>좋아하지 않을 것 같다 : 1 ~ 즐겨 마실 것 같다 : 5</h5>
    {%for i in coffee_info%}
        <div class="fieldbox">
            <div class="radiobtn">
                <p>{{i.CoffeeName}}: </p>
                <fieldset>
                    <label for="{{ i.CoffeeID }}_1">
                        <input type="radio" name="{{ i.CoffeeID }}" value="1" id="{{ i.CoffeeID }}_1">
                        <span>1</span>
                    </label>

                    <label for="{{ i.CoffeeID }}_2">
                        <input type="radio" name="{{ i.CoffeeID }}" value="2" id="{{ i.CoffeeID }}_2">
                        <span>2</span>
                    </label>

                    <label for="{{ i.CoffeeID }}_3">
                        <input type="radio" name="{{ i.CoffeeID }}" value="3" id="{{ i.CoffeeID }}_3" checked>
                        <span>3</span>
                    </label>

                    <label for="{{ i.CoffeeID }}_4">
                        <input type="radio" name="{{ i.CoffeeID }}" value="4" id="{{ i.CoffeeID }}_4">
                        <span>4</span>
                    </label>

                    <label for="{{ i.CoffeeID }}_5">
                        <input type="radio" name="{{ i.CoffeeID }}" value="5" id="{{ i.CoffeeID }}_5">
                        <span>5</span>
                    </label>
                </fieldset>
            </div>

            <div class="wrapper">
                <div class="info-header">
                    <span class="info-header-text">원두 특징</span>
                </div>
                <div class="info">
                    <span>{{i.CoffeeType}}, {{i.RoastingPoint}}</span>
                    <span>{{i.CoffeeInfo}}</span>
                </div>
                <div class = "info">
                    <span>바디감 : {{i.Body}}, 산미 : {{i.Sourness}},
                    단맛 : {{i.Sweetness}}, 쓴맛 : {{i.Bitterness}} </span>
                </div>
                <div class="info">
                    {% if i.CupNote %}
                    <span>이 원두의 컵 노트 : {{i.CupNote|slice:"1:-1"}} 향</span>
                    {%else%}
                    <span>이 원두의 컵 노트 정보가 없습니다.</span>
                    {% endif %}
                </div>
            {% endfor %}
            </div>
        </div>
</form>
<div class="field-btns">
    <button class="prev-3 prev" id="btn">이전</button>
    <button class="Submit" onclick="send_result()" id="btn">제출</button>
</div>
