.body {
    background-color: rgb(255, 227, 187);
    display: flex;
}

.result-container {
    margin: auto;
    width: 70%;
    margin-top: 8vh;
    background-color: #fff;
}
.main-img {
    width: 450px;
    margin: auto;
    display: flex;
}
.coffee {
    margin: auto;
}
.coffee-name {
    background-color: rgb(255, 255, 255);
    display: flex; 
    margin-bottom: 40px;
    margin-top: 2vh;  
}

.content > img {
    height: 40px;
}

h2 {
    margin-top: 0px;
    margin-bottom: 0px;
}
.content {
    margin: auto;
    display: flex;
}
.coffee-info {
    display: flex;
}
.info-content {
    width: 60%;
    margin: auto;
    text-align: center;
}
.info-header {
    display: flex;
    margin-bottom: 20px;
}
.info-btn {
    width: 70px;
    height: 30px;
    background: rgb(249, 160, 37);
    color: #fff;
    border-radius: 20px;
    line-height: 30px;
    display: block;
    text-align: center;
    margin: auto;
    font-size: 15px;
}
.btn-section,
.again {
    display: flex;
    flex-direction: column; /* To stack the buttons vertically */
    align-items: center; /* To center the buttons horizontally */
    margin-top: 40px;
}

.btn1 {
    width: 300px; 
    height: 50px;
    border-radius: 15px;
    background: rgb(255, 255, 255);
    border: 2px solid rgb(129, 96, 76);
    font-size: 15px;
    letter-spacing: 1px;
    cursor: pointer;
    margin-bottom: 10px;
    color: rgb(129, 96, 76);
  }

.btn1 > a {
    text-decoration: none;
    color: rgb(129, 96, 76);
}

.again-btn {
    width: 300px; 
    height: 50px;
    border: none;
    border-radius: 20px;
    background: rgb(249, 160, 37);
    font-size: 15px;
    letter-spacing: 1px;
    cursor: pointer;
    margin-bottom: 80px; 
    color: #fff;
  }

.again-btn > a {
    text-decoration: none;
    color: #fff;
}

.etc {
    display: flex;
    flex-direction: column;
}
.guide {
    margin-top: 20px;
    text-align: center;
}
.etc-coffee {
    display: flex;
    margin: auto;
    width: 70%;
}

.coffee-wrapper {
    width: 180px;
    border: 2px solid rgb(255, 187, 85);
    border-radius: 30px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    text-align: center;
    text-decoration: none;
}
.coffee-wrapper p {
    margin-bottom: 30px;
    color: #313131;
}


.card {
    background-color: #f4f4f4;
    border-radius: 5px;
    margin: 0.5vw;
  }
  
  .card > a > img {
    background-color: #fff;
  }

  .cardheight {
    height:53vh;
  }

  
.roas-name-content {
    font-weight:lighter;
    font-size: medium;
    color: #464646;
  }
  
  .content1 {
    height: 8vh;
  }

  .truncate {
    width: 100%;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    display: -webkit-box;
  }
  
  .guide > h3 {
    margin-top: 4vh;
    margin-bottom: 3vh;
  }