body {
    background-color: rgb(255, 227, 187);
    display: flex;
}

.result-container {
    margin: auto;
    width: 60%;
    margin-top: 10%;
    background-color: #fff;
}
.main-img {
    width: 450px;
    margin: auto;
    display: flex;
}
.coffee {
    margin: auto;
}
.coffee-name {
    background-color: rgb(255, 255, 255);
    display: flex; 
    margin-bottom: 40px;
  
}

.content > img {
    height: 40px;
}

h2 {
    margin-top: 0px;
    margin-bottom: 0px;
}
.content {
    margin: auto;
    display: flex;
}
.coffee-info {
    display: flex;
}
.info-content {
    width: 450px;
    margin: auto;
    text-align: center;
}
.info-header {
    display: flex;
    margin-bottom: 20px;
}
.info-btn {
    width: 70px;
    height: 30px;
    background: rgb(249, 160, 37);
    color: #fff;
    border-radius: 20px;
    line-height: 30px;
    display: block;
    text-align: center;
    margin: auto;
}
.btn-section,
.again {
    display: flex;
    flex-direction: column; /* To stack the buttons vertically */
    align-items: center; /* To center the buttons horizontally */
    margin-top: 40px;
}

.btn {
    width: 300px; /* Set the width of the links */
    height: 20px;
    text-align: center; /* Center the text horizontally within the links */
    text-decoration: none;
    border: 2px solid rgb(217, 217, 217);
    color: #6b6b6b;
    border-radius: 20px;
    padding: 20px;
    margin-bottom: 10px; /* Add some margin between the links */
}

.again-btn {
    width: 300px;
    height: 20px;
    text-align: center; 
    text-decoration: none;
    background: rgb(249, 160, 37);
    color: #fff;
    border-radius: 20px;
    padding: 20px;
    margin-bottom: 80px; 
}
.etc {
    display: flex;
    flex-direction: column;
}
.guide {
    margin-top: 20px;
    text-align: center;
}
.etc-coffee {
    display: flex;
    margin: auto;
}

.coffee-wrapper {
    width: 180px;
    border: 2px solid rgb(255, 187, 85);
    border-radius: 30px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    text-align: center;
    text-decoration: none;
}
.coffee-wrapper p {
    margin-bottom: 30px;
    color: #313131;
}
.etc-img {
    width: 160px;
    margin: auto;
}