
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(https://example.com/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
    local('MaterialIcons-Regular'),
    url(https://example.com/MaterialIcons-Regular.woff2) format('woff2'),
    url(https://example.com/MaterialIcons-Regular.woff) format('woff'),
    url(https://example.com/MaterialIcons-Regular.ttf) format('truetype');
}
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

/* footer start */
footer {
    padding-top: 50px;
    background-color: antiquewhite;
}


#welcome-hero{
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;

}


/* mainpage slider */
#welcome-hero .slide {
  /* layout */
  display: flex;
  flex-wrap: nowrap;
  /* 컨테이너의 내용물이 컨테이너 크기(width, height)를 넘어설 때 보이지 않도록 하기 위해 hidden을 준다. */
  overflow: hidden;

  /* position */
  /* slide_button의 position absolute가 컨테이너 안쪽에서 top, left, right offset이 적용될 수 있도록 relative를 준다. (기본값이 static인데, static인 경우 그 상위 컨테이너로 나가면서 현재 코드에선 html을 기준으로 offset을 적용시키기 때문) */
  position: relative;

  /* size */
  width: 100%;

  /* slide drag를 위해 DOM요소가 드래그로 선택되는것을 방지 */
  user-select: none;
}
#welcome-hero .slide_item {
  /* layout */
  display: flex;
  align-items: center;
  justify-content: center;

  /* position - 버튼 클릭시 left offset값을 적용시키기 위해 */
  position: relative;
  left: 0px;

  /* size */
  width: 100%;
  height: 500px;
  /* flex item의 flex-shrink는 기본값이 1이므로 컨테이너 크기에 맞게 줄어드는데, 슬라이드를 구현할 것이므로 줄어들지 않도록 0을 준다. */
  flex-shrink: 0;

  /* transition */
  transition: left 0.15s;
}
#welcome-hero .slide_button {
  /* layout */
  display: flex;
  justify-content: center;
  align-items: center;

  /* position */
  position: absolute;
  /* 버튼이 중앙에 위치하게 하기위해 계산 */
  top: calc(50% - 16px);

  /* size */
  width: 32px;
  height: 32px;

  /* style */
  border-radius: 100%;
  background-color: #cccc;
  cursor: pointer;
}

#welcome-hero .slide_prev_button {
  left: 10px;
}
#welcome-hero .slide_next_button {
  right: 10px;
}

/* 각 슬라이드가 변경되는 것을 시각적으로 확인하기 쉽도록 각 슬라이드별 색상 적용 */
#welcome-hero .slide_item.item1 {
/*    height: 100vh;
    width: 100vw;*/
    background-image: url(../images/about/coffee_banner1.jpg);
    background-repeat : no-repeat;
    background-size : cover;

}
#welcome-hero .slide_item.item2 {
/*    height: 100vh;
    width: 100vw;*/
    background-image: url(../images/about/coffee_banner2.jpg);
    background-repeat : no-repeat;
    background-size : cover;
}
#welcome-hero .slide_item.item3 {
/*    height: 100vh;
    width: 100vw;*/
    background-image: url(../images/about/coffee_banner3.jpg);
    background-repeat : no-repeat;
    background-size : cover;
}
#welcome-hero .slide_item.item4 {
/*    height: 100vh;
    width: 100vw;*/
    background-image: url(../images/about/coffee_banner4.jpg);
    background-repeat : no-repeat;
    background-size : cover;
}
#welcome-hero .slide_item.item5 {
/*    height: 100vh;
    width: 100vw;*/
    background-image: url(../images/about/coffee_banner5.jpg);
    background-repeat : no-repeat;
    background-size : cover;
}

/* 페이지네이션 스타일 */
#welcome-hero ul, li {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
#welcome-hero .slide_pagination {
  /* layout */
  display: flex;
  gap: 5px;

  /* position */
  position: absolute;
  bottom: 0;
  /* left:50%, translateX(-50%)를 하면 가로 가운데로 위치시킬 수 있다. */
  left: 50%;
  transform: translateX(-50%);
}
#welcome-hero .slide_pagination > li {
  /* 현재 슬라이드가 아닌 것은 투명도 부여 */
  color: #7fb5ff88;
  cursor: pointer;
  font-size: 25px;
}
#welcome-hero .slide_pagination > li.active {
  /* 현재 슬라이드 색상은 투명도 없이 */
  color: #7fb5ff;
}

#welcome-hero .slide_item_duplicate {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  left: 0px;
  width: 100%;
  height: 300px;
  flex-shrink: 0;
  transition: left 0.15s;
}
/* mainpage content */
.about .container .about-content .col-sm-3 {
    align-items: center;
    display: flex;
    flex-direction: column;
}


/* mypage 시작*/
.mypage {
    padding-right: 15px;
    padding-left: 15px;
    margin: 100px;
}
.mypage .container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
 .mypage div#title {
    font-size: xx-large;
    margin-top: 2em;
    margin-right: 2em;
    margin-bottom: 2em;
}
.mypage #mypage_header {
    width: 100%;
    position: relative;
    height: 200px;
}
.mypage #mypage_header #img_box{
    width: 200px;
    z-index: 100;
    position: absolute;
    margin-left: 30px;
}
.mypage #mypage_header #img_box > img {
    border-radius: 50%;
}
.mypage #mypage_header #idEmail_box{
    border: 3px solid #d2cdc5;
    border-radius: 2em;
    height: 100px;
    position: absolute;
    width: 100%;
    margin-top: 85px;
}
.mypage #mypage_header #userid {
    display: flex;
    flex-direction: row-reverse;
    padding: 20px 20px 5px 20px;
}
.mypage #mypage_header #useremail {
    display: flex;
    flex-direction: row-reverse;
    padding: 5px 20px 20px 20px;
}
.mypage #mypage_body {
    display: flex;
    margin: 50px;
}
.mypage #mypage_body .select_menu_box {
    margin-right: 30px;
}
.mypage #mypage_body .select_menu_box .list-group {
    text-align: center;

    position: relative;
    display: table-cell;
    width: 295px;
    background-color: #fff;
    box-shadow: 5px 1px 8px 0 rgba(0,0,0,.06);
    border-left: 1px solid rgba(0,0,0,.08);
    vertical-align: top;
    z-index: 1;
    margin: 30px 40px 0px 0px;
}
.mypage #mypage_body .select_menu_box .list-group .list-group-item {
    padding: 20px;
}
.mypage #mypage_body .select_menu_box .list-group .list-group-item:active {
    padding: 20px;
    background-color: rgb(255, 165, 63);
    border-color: rgb(255, 165, 63);
}
#mypage #mypage_body .select_menu_box .list-group .list-group-item a:hover{
    display: flow;

}

.mypage #mypage_body .content {
    position: relative;
    display: table-cell;
    width: 700px;
    background-color: #fff;
    box-shadow: 5px 3px 8px 5px rgba(255,165,63,.6);
    border-left: 1px solid rgba(255,165,63,.8);
/*    box-shadow: 5px 1px 8px 0 rgba(0,0,0,.06);
    border-left: 1px solid rgba(0,0,0,.08);*/
    vertical-align: top;
    z-index: 1;
    margin-left: 30px;
}
.mypage #mypage_body .content .subtitle {
    width: 100%;
    height: 50px;
    padding: 10px;
    margin: 15px;
}
.mypage #mypage_body .content .subtitle span {
    font-size: 25px;
}
.mypage #mypage_body .content > div.private_info_item {
    padding: 10px;
    margin: 15px 15px 15px 25px;
}
.mypage #mypage_body .content div#mypage_submit_box {
    display: flex;
    flex-direction: row-reverse;
}
.mypage #mypage_body .content div#mypage_submit_box button{
    background-color: rgb(255,165,63);
    color: white;
    padding: 15px;
    border-radius: 10px;
}

/* signin 시작 */
.signin {
    padding-right: 15px;
    padding-left: 15px;
    margin: 100px;

}
.signin div.title {
    font-size: xx-large;
    margin-top: 2em;
    margin-right: 2em;
    margin-bottom: 2em;
}


/* MD상품 시작*/
#MD .container {
    margin-top: 85px;
}
#MD .container #img_box {
    justify-content: center;
    display: flex;
    margin: 65px;
}

/* 구매내역 */
/*=================review hidden=================*/

.mypage .hidden {
    display: none;
}
/*======================== review star===============*/

.mypage .star_rating {
  width: 100%;
  box-sizing: border-box;
  display: inline-flex;
  float: left;
  flex-direction: row;
  justify-content: flex-start;
}
.mypage .star_rating .star {
  width: 25px;
  height: 25px;
  margin-right: 10px;
  display: inline-block;
  background: url('https://img1.daumcdn.net/thumb/R1280x0/?scode=mtistory2&fname=https%3A%2F%2Fblog.kakaocdn.net%2Fdn%2FE2bww%2FbtsviSSBz4Q%2F5UYnwSWgTlFt6CEFZ1L3Q0%2Fimg.png') no-repeat;
  background-size: 100%;
  box-sizing: border-box;
}
.mypage .star_rating .star.on {
  width: 25px;
  height: 25px;
  margin-right: 10px;
  display: inline-block;
  background: url('https://blog.kakaocdn.net/dn/b2d6gV/btsvbDoal87/XH5b17uLeEJcBP3RV3FyDk/img.png') no-repeat;
  background-size: 100%;
  box-sizing: border-box;
}

.mypage .star_box {
  width: 400px;
  box-sizing: border-box;
  display: inline-block;
  margin: 15px 0;
  background: #F3F4F8;
  border: 0;
  border-radius: 10px;
  height: 100px;
  resize: none;
  padding: 15px;
  font-size: 13px;
  font-family: sans-serif;
}
.mypage .btn02 {
  display:block;
  width: 400px;
  font-weight: bold;
  border: 0;
  border-radius: 10px;
  max-height: 50px;
  padding: 15px 0;
  font-size: 1.1em;
  text-align: center;
  background: rgb(222, 138, 11);
}





