
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(https://example.com/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
    local('MaterialIcons-Regular'),
    url(https://example.com/MaterialIcons-Regular.woff2) format('woff2'),
    url(https://example.com/MaterialIcons-Regular.woff) format('woff'),
    url(https://example.com/MaterialIcons-Regular.ttf) format('truetype');
}
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

#welcome-hero{
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    width: fit-content;
}


/* mainpage slider */
#welcome-hero .slide {
  /* layout */
  display: flex;
  flex-wrap: nowrap;
  /* 컨테이너의 내용물이 컨테이너 크기(width, height)를 넘어설 때 보이지 않도록 하기 위해 hidden을 준다. */
  overflow: hidden;

  /* position */
  /* slide_button의 position absolute가 컨테이너 안쪽에서 top, left, right offset이 적용될 수 있도록 relative를 준다. (기본값이 static인데, static인 경우 그 상위 컨테이너로 나가면서 현재 코드에선 html을 기준으로 offset을 적용시키기 때문) */
  position: relative;

  /* size */
  width: 100%;

  /* slide drag를 위해 DOM요소가 드래그로 선택되는것을 방지 */
  user-select: none;
}
#welcome-hero .slide_item {
  /* layout */
  display: flex;
  align-items: center;
  justify-content: center;

  /* position - 버튼 클릭시 left offset값을 적용시키기 위해 */
  position: relative;
  left: 0px;

  /* size */
  width: 100%;
  height: 300px;
  /* flex item의 flex-shrink는 기본값이 1이므로 컨테이너 크기에 맞게 줄어드는데, 슬라이드를 구현할 것이므로 줄어들지 않도록 0을 준다. */
  flex-shrink: 0;

  /* transition */
  transition: left 0.15s;
}
#welcome-hero .slide_button {
  /* layout */
  display: flex;
  justify-content: center;
  align-items: center;

  /* position */
  position: absolute;
  /* 버튼이 중앙에 위치하게 하기위해 계산 */
  top: calc(50% - 16px);

  /* size */
  width: 32px;
  height: 32px;

  /* style */
  border-radius: 100%;
  background-color: #cccc;
  cursor: pointer;
}

#welcome-hero .slide_prev_button {
  left: 10px;
}
#welcome-hero .slide_next_button {
  right: 10px;
}

/* 각 슬라이드가 변경되는 것을 시각적으로 확인하기 쉽도록 각 슬라이드별 색상 적용 */
#welcome-hero .slide_item.item1 {
  background-color: darkgoldenrod;
}
#welcome-hero .slide_item.item2 {
  background-color: aqua;
}
#welcome-hero .slide_item.item3 {
  background-color: blueviolet;
}
#welcome-hero .slide_item.item4 {
  background-color: burlywood;
}
#welcome-hero .slide_item.item5 {
  background-color: cornflowerblue;
}

/* 페이지네이션 스타일 */
#welcome-hero ul, li {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
#welcome-hero .slide_pagination {
  /* layout */
  display: flex;
  gap: 5px;

  /* position */
  position: absolute;
  bottom: 0;
  /* left:50%, translateX(-50%)를 하면 가로 가운데로 위치시킬 수 있다. */
  left: 50%;
  transform: translateX(-50%);
}
#welcome-hero .slide_pagination > li {
  /* 현재 슬라이드가 아닌 것은 투명도 부여 */
  color: #7fb5ff88;
  cursor: pointer;
  font-size: 25px;
}
#welcome-hero .slide_pagination > li.active {
  /* 현재 슬라이드 색상은 투명도 없이 */
  color: #7fb5ff;
}

#welcome-hero .slide_item_duplicate {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  left: 0px;
  width: 100%;
  height: 300px;
  flex-shrink: 0;
  transition: left 0.15s;
}


/* mypage 시작*/
#mypage {
    padding-right: 15px;
    padding-left: 15px;
    margin: 100px;
    width: fit-content;
}
#mypage .container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
#mypage div.title {
    font-size: xx-large;
    margin-top: 2em;
    margin-right: 2em;
    margin-bottom: 2em;
}
#mypage #mypage_header {
    width: 100%;
    position: relative;
    height: 200px;
}
#mypage #mypage_header #img_box{
    width: 200px;
    z-index: 100;
    position: absolute;
    margin-left: 30px;
}
#mypage #mypage_header #img_box > img {
    border-radius: 50%;
}
#mypage #mypage_header #idEmail_box{
    border: 1px solid black;
    border-radius: 2em;
    height: 100px;
    position: absolute;
    width: 100%;
    margin-top: 85px;
}
#mypage #mypage_header div#userid {
    display: flex;
    flex-direction: row-reverse;
    padding: 20px 20px 5px 20px;
}
#mypage #mypage_header div#useremail {
    display: flex;
    flex-direction: row-reverse;
    padding: 5px 20px 20px 20px;
}
#mypage #mypage_body {
    display: flex;
}
#mypage #mypage_body .select_menu ul {
    border: 1px solid black;
    padding: 2em;
    border-radius: 2em;
    margin: 2em 0em;
}
#mypage #mypage_body .select_menu ul > li {
    padding: 1em;
}
#mypage #mypage_body .content {
    padding: 2em;
    border-radius: 2em;
    margin: 2em;
    width: 70%;
}
#mypage #mypage_body .content > div{
    padding: 10px;
    margin: 15px;
}



