/* mypage 공통 */
.mypage {
    padding-right: 15px;
    padding-left: 15px;
    margin: 100px;
}
.mypage .container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
 .mypage div#title {
    font-size: xx-large;
    margin-top: 2em;
    margin-right: 2em;
    margin-bottom: 2em;
}
.mypage #mypage_header {
    width: 100%;
    position: relative;
    height: 200px;
}
.mypage #mypage_header #img_box{
    width: 200px;
    z-index: 100;
    position: absolute;
    margin-left: 30px;
}
.mypage #mypage_header #img_box > img {
    border-radius: 50%;
}
.mypage #mypage_header #idEmail_box{
    border: 3px solid #d2cdc5;
    border-radius: 2em;
    height: 100px;
    position: absolute;
    width: 100%;
    margin-top: 85px;
}
.mypage #mypage_header #userid {
    display: flex;
    flex-direction: row-reverse;
    padding: 20px 20px 5px 20px;
}
.mypage #mypage_header #useremail {
    display: flex;
    flex-direction: row-reverse;
    padding: 5px 20px 20px 20px;
}
.mypage #mypage_body {
    display: flex;
    margin: 50px;
}
.mypage #mypage_body .select_menu_box {
    margin-right: 30px;
}
.mypage #mypage_body .select_menu_box .list-group {
    text-align: center;

    position: relative;
    display: table-cell;
    width: 295px;
    background-color: #fff;
    box-shadow: 5px 1px 8px 0 rgba(0,0,0,.06);
    border-left: 1px solid rgba(0,0,0,.08);
    vertical-align: top;
    z-index: 1;
    margin: 30px 40px 0px 0px;
}
.mypage #mypage_body .select_menu_box .list-group .list-group-item {
    padding: 20px;
}
.mypage #mypage_body .select_menu_box .list-group .list-group-item:active {
    padding: 20px;
    background-color: rgb(255, 165, 63);
    border-color: rgb(255, 165, 63);
}
#mypage #mypage_body .select_menu_box .list-group .list-group-item a:hover{
    display: flow;
}

.mypage #mypage_body .content {
    position: relative;
    display: table-cell;
    width: 700px;
    background-color: #fff;
    box-shadow: 5px 3px 8px 5px rgba(255,165,63,.6);
    border-left: 1px solid rgba(255,165,63,.8);
/*    box-shadow: 5px 1px 8px 0 rgba(0,0,0,.06);
    border-left: 1px solid rgba(0,0,0,.08);*/
    vertical-align: top;
    z-index: 1;
    margin-left: 30px;
}
.mypage #mypage_body .content .subtitle {
    width: 100%;
    height: 50px;
    padding: 10px;
    margin: 15px;
}
.mypage #mypage_body .content .subtitle span {
    font-size: 25px;
}
.mypage #mypage_body .content > div.private_info_item {
    padding: 10px;
    margin: 15px 15px 15px 25px;
}
/* 마이페이지 개인정보 */
.mypage #mypage_body .content div#mypage_submit_box {
    display: flex;
    flex-direction: row-reverse;
}
.mypage #mypage_body .content div#mypage_submit_box button{
    background-color: rgb(255,165,63);
    color: white;
    padding: 15px;
    border-radius: 10px;
}
/* 마이페이지 구매내역 */
.mypage #mypage_body .content div#order_info_head {
    display: flex;
    flex-direction: column;
}
.mypage #mypage_body .content div#order_info_head span {
    font-size: 13px;
}
.mypage #mypage_body .content div#order_info_body {
    display: flex;
    align-items: center;
    justify-content: center;
}
.mypage #mypage_body .content div#order_info_body td img.roas_img {
    width: 25px;
    height: 25px;
    border-radius: 5px;
    margin-right: 5px;
    margin-top: 5px;
}
.mypage #mypage_body .content div#order_info_body td span.roas_name {
    margin-right: 5px;
    margin-top: 5px;
}
.mypage #mypage_body .content div#order_info_body td .order_coffee_item {
    display: flex;
    flex-direction: column;
}
.mypage #mypage_body .content div#order_info_body td .order_coffee_item > span {
    margin: 3px 0;
}
.mypage #mypage_body .content div#order_info_body td .order_coffee_item span.order_coffee_name {
    font-size: 35px;
}
.mypage #mypage_body .content div#order_info_body td.order_coffee_price{

}
.mypage #mypage_body .content div#order_info_body div.reviewbox .add_review { display: inline-block; }
