{% extends "base.html" %}
{% load static %}


{% block head %}
    <title>메인사이트</title>
    <!-- css -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel="shortcut icon" href="#">
{% endblock %}


{% block content %}

<div class="container">
    <header>Form name</header>

    <!-- 진행 바 -->
    <div class="progress-bar">
        <div class="step">
            <p>name</p>
            <div class="bullet">
                <span>1</span>
            </div>
            <div class="check fas fa-check"></div>
        </div>

        <div class="step">
            <p>name</p>
            <div class="bullet">
                <span>2</span>
            </div>
            <div class="check fas fa-check"></div>
        </div>

        <div class="step">
            <p>name</p>
            <div class="bullet">
                <span>3</span>
            </div>
            <div class="check fas fa-check"></div>
        </div>
    </div>

    <!-- 질문 폼 -->
    <div class="form-outer">
        <form action="#" method="GET">

            <!-- 첫번째 질문 -->
            <div class="page slidepage">
                <div class="title">카페인을 원하시나요?</div>
                <div class="fieldbox">
                    <button class="field" onclick="change_firbtn(event)" type="button"id="decaf" value="0">디카페인</button>
                    <button class="field" onclick="change_firbtn(event)" type="button" id="caf" value="1">카페인</button>
                </div>
                <div class="field-btns nextBtn">
                    <button id="btn">다음</button>
                </div>
            </div>
            
            <!-- 두번째 질문 -->
            <div class="page">
                <div class="title">원하시는 원두 타입을 고르세요</div>
                <div class="fieldbox">
                    <button class="field" onclick="change_secbtn(event)" type="button" id="single" value="싱글오리진">싱글오리진</button>
                    <button class="field" onclick="change_secbtn(event)" type="button" id="blend" value="블렌드">블렌드</button>
                </div>
                <div class="field-btns">
                    <button class="prev-1 prev" id="btn">이전</button>
                    <button class="next-1 next" id="btn">다음</button>
                </div>
            </div>

            <!-- 세번째 질문 -->
            <div class="page">
                <div class="title">질문 3</div>
                <div class="field">
                    <label for="decaf">싱글오리진</label>
                    <input type="hidden" name="decaffeine" id="decaf" class="decaf" value="0"/>
                </div>
                <div class="field">
                    <label for="caf">블렌드</label>
                    <input type="hidden" name="caffeine" id="caf" class="caf" value="1"/>
                </div>
                <div class="field-btns">
                    <button class="prev-2 prev" id="btn">이전</button>
                    <button class="Submit" id="btn">제출</button>
                </div>
            </div>
        </form>
    </div>
</div>


<!-- 자바스크립트 파일 -->
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="https://code.jquery.com/jquery-3.4.1.js"></script>
<script src="{% static 'js/temp.js' %}"></script>
<script src="https://use.fontawesome.com/releases/v5.15.4/js/all.js" data-auto-a11y="true" ></script>
{% endblock %}