
{% extends 'base.html' %}
{% block content %}
<!--welcome-hero start -->
<section id="welcome-hero" class="welcome-hero">
    <div class="container">
        <div class="slide slide_wrap">
            <div class="slide_item item1"></div>
            <div class="slide_item item2"></div>
            <div class="slide_item item3"></div>
            <div class="slide_item item4"></div>
            <div class="slide_item item5"></div>
            <div class="slide_prev_button slide_button"> < </div>     <!-- ◀ -->
            <div class="slide_next_button slide_button"> > </div>     <!-- ▶ -->
            <ul class="slide_pagination"></ul>
        </div>

    </div><!-- /.container-->

</section><!--/.welcome-hero-->
<!--welcome-hero end -->

<!--about start -->
<section id="about" class="about">
    <div class="section-heading text-center">
        <h2>오늘 새로 들어온 원두</h2>
    </div>
    <div class="container">
        <div class="about-content">
            <div class="row">
                <div class="col-sm-3 border" style = 'border: 1px solid #ccc; padding: 20px;'>
                    <div>
                        <img src="../../static/images/about/coffee_banner1.jpg">
                        <h3>콜롬비아 디카페인</h3>
                        <p>로스터리정보</p>
                        <span>원산지(나라)</span>
                        <span>flavor</span>
                    </div>
                </div>
                <div class="col-sm-3 border" style = 'border: 1px solid #ccc; padding: 20px;'>
                    <div>
                        <img src="../../static/images/about/coffee_banner1.jpg">
                        <h3>콜롬비아 디카페인</h3>
                        <p>로스터리정보</p>
                        <span>원산지(나라)</span>
                        <span>flavor</span>
                    </div>
                </div>
                <div class="col-sm-3 border" style = 'border: 1px solid #ccc; padding: 20px;'>
                    <div>
                        <img src="../../static/images/about/coffee_banner1.jpg">
                        <h3>콜롬비아 디카페인</h3>
                        <p>로스터리정보</p>
                        <span>원산지(나라)</span>
                        <span>flavor</span>
                    </div>
                </div>
                <div class="col-sm-3 border" style = 'border: 1px solid #ccc; padding: 20px;'>
                    <div>
                        <img src="../../static/images/about/coffee_banner1.jpg">
                        <h3>콜롬비아 디카페인</h3>
                        <p>로스터리정보</p>
                        <span>원산지(나라)</span>
                        <span>flavor</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section><!--/.about-->
<!--about end -->

<section id="wondoo" class="about">
    <div class="section-heading text-center">
        <h2>오늘 새로 들어온 원두</h2>
    </div>
    <div class="container">
        <div class="about-content">
            <div class="row">
                <div class="col-sm-3 border" style = 'border: 1px solid #ccc; padding: 20px;'>
                    <div>
                        <img src="../../static/images/about/coffee_banner1.jpg">
                        <h3>콜롬비아 디카페인</h3>
                        <p>로스터리정보</p>
                        <span>원산지(나라)</span>
                        <span>flavor</span>
                    </div>
                </div>
                <div class="col-sm-3 border" style = 'border: 1px solid #ccc; padding: 20px;'>
                    <div>
                        <img src="../../static/images/about/coffee_banner1.jpg">
                        <h3>콜롬비아 디카페인</h3>
                        <p>로스터리정보</p>
                        <span>원산지(나라)</span>
                        <span>flavor</span>
                    </div>
                </div>
                <div class="col-sm-3 border" style = 'border: 1px solid #ccc; padding: 20px;'>
                    <div>
                        <img src="../../static/images/about/coffee_banner1.jpg">
                        <h3>콜롬비아 디카페인</h3>
                        <p>로스터리정보</p>
                        <span>원산지(나라)</span>
                        <span>flavor</span>
                    </div>
                </div>
                <div class="col-sm-3 border" style = 'border: 1px solid #ccc; padding: 20px;'>
                    <div>
                        <img src="../../static/images/about/coffee_banner1.jpg">
                        <h3>콜롬비아 디카페인</h3>
                        <p>로스터리정보</p>
                        <span>원산지(나라)</span>
                        <span>flavor</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section><!--/.about-->
<!--about end -->

<!--skills start -->
<section id="skills" class="skills">
        <div class="skill-content">
            <div class="section-heading text-center">
                <h2>skills</h2>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <div class="single-skill-content">
                            <div class="barWrapper">
                                <span class="progressText">adobe photoshop</span>
                                <div class="single-progress-txt">
                                    <div class="progress ">
                                        <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="10" aria-valuemax="100" style="">

                                        </div>
                                    </div>
                                    <h3>90%</h3>
                                </div>
                            </div><!-- /.barWrapper -->
                            <div class="barWrapper">
                                <span class="progressText">adobe illustrator</span>
                                <div class="single-progress-txt">
                                    <div class="progress ">
                                       <div class="progress-bar" role="progressbar" aria-valuenow="85" aria-valuemin="10" aria-valuemax="100" style="">

                                       </div>
                                    </div>
                                    <h3>85%</h3>
                                </div>
                            </div><!-- /.barWrapper -->
                            <div class="barWrapper">
                                <span class="progressText">adobe after effects</span>
                                <div class="single-progress-txt">
                                    <div class="progress ">
                                       <div class="progress-bar" role="progressbar" aria-valuenow="97" aria-valuemin="10" aria-valuemax="100" style="">

                                       </div>
                                    </div>
                                    <h3>97%</h3>
                                </div>
                            </div><!-- /.barWrapper -->
                            <div class="barWrapper">
                                <span class="progressText">sketch</span>
                                <div class="single-progress-txt">
                                    <div class="progress ">
                                       <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="10" aria-valuemax="100" style="">

                                       </div>
                                    </div>
                                    <h3>90%</h3>
                                </div>
                            </div><!-- /.barWrapper -->
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="single-skill-content">
                            <div class="barWrapper">
                                <span class="progressText">html 5</span>
                                <div class="single-progress-txt">
                                    <div class="progress ">
                                        <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="10" aria-valuemax="100" style="">

                                        </div>
                                    </div>
                                    <h3>90%</h3>
                                </div>
                            </div><!-- /.barWrapper -->
                            <div class="barWrapper">
                                <span class="progressText">css 3 animation</span>
                                <div class="single-progress-txt">
                                    <div class="progress ">
                                       <div class="progress-bar" role="progressbar" aria-valuenow="85" aria-valuemin="10" aria-valuemax="100" style="">

                                       </div>
                                    </div>
                                    <h3>85%</h3>
                                </div>
                            </div><!-- /.barWrapper -->
                            <div class="barWrapper">
                                <span class="progressText">communication</span>
                                <div class="single-progress-txt">
                                    <div class="progress ">
                                       <div class="progress-bar" role="progressbar" aria-valuenow="97" aria-valuemin="10" aria-valuemax="100" style="">

                                       </div>
                                    </div>
                                    <h3>97%</h3>
                                </div>
                            </div><!-- /.barWrapper -->
                            <div class="barWrapper">
                                <span class="progressText"> creativity</span>
                                <div class="single-progress-txt">
                                    <div class="progress ">
                                       <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="10" aria-valuemax="100" style="">

                                       </div>
                                    </div>
                                    <h3>90%</h3>
                                </div>
                            </div><!-- /.barWrapper -->
                        </div>
                    </div>
                </div><!-- /.row -->
            </div>	<!-- /.container -->
        </div><!-- /.skill-content-->

</section><!--/.skills-->
<!--skills end -->

<!--experience start -->
<section id="experience" class="experience">
    <div class="section-heading text-center">
        <h2>experience</h2>
    </div>
    <div class="container">
        <div class="experience-content">
                <div class="main-timeline">
                    <ul>
                        <li>
                            <div class="single-timeline-box fix">
                                <div class="row">
                                    <div class="col-md-5">
                                        <div class="experience-time text-right">
                                            <h2>2018 - Present</h2>
                                            <h3>creative director</h3>
                                        </div><!--/.experience-time-->
                                    </div><!--/.col-->
                                    <div class="col-md-offset-1 col-md-5">
                                        <div class="timeline">
                                            <div class="timeline-content">
                                                <h4 class="title">
                                                    <span><i class="fa fa-circle" aria-hidden="true"></i></span>
                                                    hoplony tech limited
                                                </h4>
                                                <h5>newyork, USA</h5>
                                                <p class="description">
                                                    Duis aute irure dolor in reprehenderit in vol patate velit esse cillum dolore eu fugiat nulla pari. Excepteur sint occana inna tecat cupidatat non proident.
                                                </p>
                                            </div><!--/.timeline-content-->
                                        </div><!--/.timeline-->
                                    </div><!--/.col-->
                                </div>
                            </div><!--/.single-timeline-box-->
                        </li>

                        <li>
                            <div class="single-timeline-box fix">
                                <div class="row">
                                    <div class="col-md-offset-1 col-md-5 experience-time-responsive">
                                        <div class="experience-time">
                                            <h2>
                                                <span><i class="fa fa-circle" aria-hidden="true"></i></span>
                                                2016 - 2018
                                            </h2>
                                            <h3>associate design director</h3>
                                        </div><!--/.experience-time-->
                                    </div><!--/.col-->
                                    <div class="col-md-5">
                                        <div class="timeline">
                                            <div class="timeline-content text-right">
                                                <h4 class="title">
                                                    hoplony tech limited
                                                </h4>
                                                <h5>newyork, USA</h5>
                                                <p class="description">
                                                    Duis aute irure dolor in reprehenderit in vol patate velit esse cillum dolore eu fugiat nulla pari. Excepteur sint occana inna tecat cupidatat non proident.
                                                </p>
                                            </div><!--/.timeline-content-->
                                        </div><!--/.timeline-->
                                    </div><!--/.col-->
                                    <div class="col-md-offset-1 col-md-5 experience-time-main">
                                        <div class="experience-time">
                                            <h2>
                                                <span><i class="fa fa-circle" aria-hidden="true"></i></span>
                                                2016 - 2018
                                            </h2>
                                            <h3>associate design director</h3>
                                        </div><!--/.experience-time-->
                                    </div><!--/.col-->
                                </div>
                            </div><!--/.single-timeline-box-->
                        </li>

                        <li>
                            <div class="single-timeline-box fix">
                                <div class="row">
                                    <div class="col-md-5">
                                        <div class="experience-time text-right">
                                            <h2>2013 - 2016</h2>
                                            <h3>senior UI/UX designer</h3>
                                        </div><!--/.experience-time-->
                                    </div><!--/.col-->
                                    <div class="col-md-offset-1 col-md-5">
                                        <div class="timeline">
                                            <div class="timeline-content">
                                                <h4 class="title">
                                                    <span><i class="fa fa-circle" aria-hidden="true"></i></span>
                                                    hoplony tech limited
                                                </h4>
                                                <h5>newyork, USA</h5>
                                                <p class="description">
                                                    Duis aute irure dolor in reprehenderit in vol patate velit esse cillum dolore eu fugiat nulla pari. Excepteur sint occana inna tecat cupidatat non proident.
                                                </p>
                                            </div><!--/.timeline-content-->
                                        </div><!--/.timeline-->
                                    </div><!--/.col-->
                                </div>
                            </div><!--/.single-timeline-box-->
                        </li>

                        <li>
                            <div class="single-timeline-box fix">
                                <div class="row">
                                    <div class="col-md-offset-1 col-md-5 experience-time-responsive">
                                        <div class="experience-time">
                                            <h2>
                                                <span><i class="fa fa-circle" aria-hidden="true"></i></span>
                                                2012 - 2013
                                            </h2>
                                            <h3>UI/UX designer</h3>
                                        </div><!--/.experience-time-->
                                    </div><!--/.col-->
                                    <div class="col-md-5">
                                        <div class="timeline">
                                            <div class="timeline-content text-right">
                                                <h4 class="title">
                                                    hoplony tech limited
                                                </h4>
                                                <h5>newyork, USA</h5>
                                                <p class="description">
                                                    Duis aute irure dolor in reprehenderit in vol patate velit esse cillum dolore eu fugiat nulla pari. Excepteur sint occana inna tecat cupidatat non proident.
                                                </p>
                                            </div><!--/.timeline-content-->
                                        </div><!--/.timeline-->
                                    </div><!--/.col-->
                                    <div class="col-md-offset-1 col-md-5 experience-time-main">
                                        <div class="experience-time">
                                            <h2>
                                                <span><i class="fa fa-circle" aria-hidden="true"></i></span>
                                                2012 - 2013
                                            </h2>
                                            <h3>UI/UX designer</h3>
                                        </div><!--/.experience-time-->
                                    </div><!--/.col-->
                                </div>
                            </div><!--/.single-timeline-box-->
                        </li>

                        <li>
                            <div class="single-timeline-box fix">
                                <div class="row">
                                    <div class="col-md-5">
                                        <div class="experience-time text-right">
                                            <h2>2010 - 2012</h2>
                                            <h3>frontend developer</h3>
                                        </div><!--/.experience-time-->
                                    </div><!--/.col-->
                                    <div class="col-md-offset-1 col-md-5">
                                        <div class="timeline">
                                            <div class="timeline-content">
                                                <h4 class="title">
                                                    <span><i class="fa fa-circle" aria-hidden="true"></i></span>
                                                    hoplony tech limited
                                                </h4>
                                                <h5>newyork, USA</h5>
                                                <p class="description">
                                                    Duis aute irure dolor in reprehenderit in vol patate velit esse cillum dolore eu fugiat nulla pari. Excepteur sint occana inna tecat cupidatat non proident.
                                                </p>
                                            </div><!--/.timeline-content-->
                                        </div><!--/.timeline-->
                                    </div><!--/.col-->
                                </div>
                            </div><!--/.single-timeline-box-->
                        </li>

                    </ul>
                </div><!--.main-timeline-->
            </div><!--.experience-content-->
    </div>

</section><!--/.experience-->
<!--experience end -->

<!--profiles start -->
<section id="profiles" class="profiles">
    <div class="profiles-details">
        <div class="section-heading text-center">
            <h2>profiles</h2>
        </div>
        <div class="container">
            <div class="profiles-content">
                <div class="row">
                    <div class="col-sm-3">
                        <div class="single-profile">
                            <div class="profile-txt">
                                <a href=""><i class="flaticon-themeforest"></i></a>
                                <div class="profile-icon-name">themeforest</div>
                            </div>
                            <div class="single-profile-overlay">
                                <div class="profile-txt">
                                    <a href=""><i class="flaticon-themeforest"></i></a>
                                    <div class="profile-icon-name">themeforest</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="single-profile">
                            <div class="profile-txt">
                                <a href=""><i class="flaticon-dribbble"></i></a>
                                <div class="profile-icon-name">dribbble</div>
                            </div>
                            <div class="single-profile-overlay">
                                <div class="profile-txt">
                                    <a href=""><i class="flaticon-dribbble"></i></a>
                                    <div class="profile-icon-name">dribbble</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="single-profile">
                            <div class="profile-txt">
                                <a href=""><i class="flaticon-behance-logo"></i></a>
                                <div class="profile-icon-name">behance</div>
                            </div>
                            <div class="single-profile-overlay">
                                <div class="profile-txt">
                                    <a href=""><i class="flaticon-behance-logo"></i></a>
                                    <div class="profile-icon-name">behance</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="single-profile profile-no-border">
                            <div class="profile-txt">
                                <a href=""><i class="flaticon-github-logo"></i></a>
                                <div class="profile-icon-name">github</div>
                            </div>
                            <div class="single-profile-overlay">
                                <div class="profile-txt">
                                    <a href=""><i class="flaticon-github-logo"></i></a>
                                    <div class="profile-icon-name">github</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="profile-border"></div>
                <div class="row">
                    <div class="col-sm-3">
                        <div class="single-profile">
                            <div class="profile-txt">
                                <a href=""><i class="flaticon-flickr-website-logo-silhouette"></i></a>
                                <div class="profile-icon-name">flickR</div>
                            </div>
                            <div class="single-profile-overlay">
                                <div class="profile-txt">
                                    <a href=""><i class="flaticon-flickr-website-logo-silhouette"></i></a>
                                    <div class="profile-icon-name">flickR</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="single-profile">
                            <div class="profile-txt">
                                <a href=""><i class="flaticon-smug"></i></a>
                                <div class="profile-icon-name">smungMung</div>
                            </div>
                            <div class="single-profile-overlay">
                                <div class="profile-txt">
                                    <a href=""><i class="flaticon-smug"></i></a>
                                    <div class="profile-icon-name">smungMung</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="single-profile">
                            <div class="profile-txt">
                                <a href=""><i class="flaticon-squarespace-logo"></i></a>
                                <div class="profile-icon-name">squareSpace</div>
                            </div>
                            <div class="single-profile-overlay">
                                <div class="profile-txt">
                                    <a href=""><i class="flaticon-squarespace-logo"></i></a>
                                    <div class="profile-icon-name">squareSpace</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="single-profile profile-no-border">
                            <div class="profile-txt">
                                <a href=""><i class="flaticon-bitbucket-logotype-camera-lens-in-perspective"></i></a>
                                <div class="profile-icon-name">bitBucket</div>
                            </div>
                            <div class="single-profile-overlay">
                                <div class="profile-txt">
                                    <a href=""><i class="flaticon-bitbucket-logotype-camera-lens-in-perspective"></i></a>
                                    <div class="profile-icon-name">bitBucket</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section><!--/.profiles-->
<!--profiles end -->

<!--portfolio start -->
<section id="portfolio" class="portfolio">
    <div class="portfolio-details">
        <div class="section-heading text-center">
            <h2>portfolio</h2>
        </div>
        <div class="container">
            <div class="portfolio-content">
                <div class="isotope">
                    <div class="row">

                        <div class="col-sm-4">
                            <div class="item">
                                <img src="static/images/portfolio/p1.jpg" alt="portfolio image"/>
                                <div class="isotope-overlay">
                                    <a href="#">
                                        ui/ux design
                                    </a>
                                </div><!-- /.isotope-overlay -->
                            </div><!-- /.item -->
                            <div class="item">
                                <img src="static/images/portfolio/p2.jpg" alt="portfolio image"/>
                                <div class="isotope-overlay">
                                    <a href="#">
                                        ui/ux design
                                    </a>
                                </div><!-- /.isotope-overlay -->
                            </div><!-- /.item -->
                        </div><!-- /.col -->

                        <div class="col-sm-4">
                            <div class="item">
                                <img src="static/images/portfolio/p3.jpg" alt="portfolio image"/>
                                <div class="isotope-overlay">
                                    <a href="#">
                                        web design
                                    </a>
                                </div><!-- /.isotope-overlay -->
                            </div><!-- /.item -->
                        </div><!-- /.col -->

                        <div class="col-sm-4">
                            <div class="item">
                                <img src="static/images/portfolio/p4.jpg" alt="portfolio image"/>
                                <div class="isotope-overlay">
                                    <a href="#">
                                        web development
                                    </a>
                                </div><!-- /.isotope-overlay -->
                            </div><!-- /.item -->
                            <div class="item">
                                <img src="static/images/portfolio/p5.jpg" alt="portfolio image"/>
                                <div class="isotope-overlay">
                                    <a href="#">
                                        web development
                                    </a>
                                </div><!-- /.isotope-overlay -->
                            </div><!-- /.item -->
                        </div><!-- /.col -->
                    </div><!-- /.row -->
                </div><!--/.isotope-->
            </div><!--/.gallery-content-->
        </div><!--/.container-->
    </div><!--/.portfolio-details-->

</section><!--/.portfolio-->
<!--portfolio end -->

<!--clients start -->
<section id="clients" class="clients">
    <div class="section-heading text-center">
        <h2>clients</h2>
    </div>
    <div class="clients-area">
        <div class="container">
            <div class="owl-carousel owl-theme" id="client">
                <div class="item">
                    <a href="#">
                        <img src="static/images/clients/c1.png" alt="brand-image" />
                    </a>
                </div><!--/.item-->
                <div class="item">
                    <a href="#">
                        <img src="static/images/clients/c2.png" alt="brand-image" />
                    </a>
                </div><!--/.item-->
                <div class="item">
                    <a href="#">
                        <img src="static/images/clients/c3.png" alt="brand-image" />
                    </a>
                </div><!--/.item-->
                <div class="item">
                    <a href="#">
                        <img src="static/images/clients/c4.png" alt="brand-image" />
                    </a>
                </div><!--/.item-->
                <div class="item">
                    <a href="#">
                        <img src="static/images/clients/c5.png" alt="brand-image" />
                    </a>
                </div><!--/.item-->
                <div class="item">
                    <a href="#">
                        <img src="static/images/clients/c6.png" alt="brand-image" />
                    </a>
                </div><!--/.item-->
                <div class="item">
                    <a href="#">
                        <img src="static/images/clients/c7.png" alt="brand-image" />
                    </a>
                </div><!--/.item-->
            </div><!--/.owl-carousel-->
        </div><!--/.container-->
    </div><!--/.clients-area-->

</section><!--/.clients-->

</section><!--/.clients-->
<!--clients end -->

<!--contact start -->
<section id="contact" class="contact">
    <div class="section-heading text-center">
        <h2>contact me</h2>
    </div>
    <div class="container">
        <div class="contact-content">
            <div class="row">
                <div class="col-md-offset-1 col-md-5 col-sm-6">
                    <div class="single-contact-box">
                        <div class="contact-form">
                            <form>
                                <div class="row">
                                    <div class="col-sm-6 col-xs-12">
                                        <div class="form-group">
                                          <input type="text" class="form-control" id="name" placeholder="Name*" name="name">
                                        </div><!--/.form-group-->
                                    </div><!--/.col-->
                                    <div class="col-sm-6 col-xs-12">
                                        <div class="form-group">
                                            <input type="email" class="form-control" id="email" placeholder="Email*" name="email">
                                        </div><!--/.form-group-->
                                    </div><!--/.col-->
                                </div><!--/.row-->
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="form-group">
                                            <input type="text" class="form-control" id="subject" placeholder="Subject" name="subject">
                                        </div><!--/.form-group-->
                                    </div><!--/.col-->
                                </div><!--/.row-->
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="form-group">
                                            <textarea class="form-control" rows="8" id="comment" placeholder="Message" ></textarea>
                                        </div><!--/.form-group-->
                                    </div><!--/.col-->
                                </div><!--/.row-->
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="single-contact-btn">
                                            <a class="contact-btn" href="#" role="button">submit</a>
                                        </div><!--/.single-single-contact-btn-->
                                    </div><!--/.col-->
                                </div><!--/.row-->
                            </form><!--/form-->
                        </div><!--/.contact-form-->
                    </div><!--/.single-contact-box-->
                </div><!--/.col-->
                <div class="col-md-offset-1 col-md-5 col-sm-6">
                    <div class="single-contact-box">
                        <div class="contact-adress">
                            <div class="contact-add-head">
                                <h3>browny star</h3>
                                <p>uI/uX designer</p>
                            </div>
                            <div class="contact-add-info">
                                <div class="single-contact-add-info">
                                    <h3>phone</h3>
                                    <p>987-123-6547</p>
                                </div>
                                <div class="single-contact-add-info">
                                    <h3>email</h3>
                                    <p>browny@info.com</p>
                                </div>
                                <div class="single-contact-add-info">
                                    <h3>website</h3>
                                    <p>www.brownsine.com</p>
                                </div>
                            </div>
                        </div><!--/.contact-adress-->
                        <div class="hm-foot-icon">
                            <ul>
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li><!--/li-->
                                <li><a href="#"><i class="fa fa-dribbble"></i></a></li><!--/li-->
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li><!--/li-->
                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li><!--/li-->
                                <li><a href="#"><i class="fa fa-instagram"></i></a></li><!--/li-->
                            </ul><!--/ul-->
                        </div><!--/.hm-foot-icon-->
                    </div><!--/.single-contact-box-->
                </div><!--/.col-->
            </div><!--/.row-->
        </div><!--/.contact-content-->
    </div><!--/.container-->

</section><!--/.contact-->
<!--contact end -->

<script>

    // 슬라이크 전체 크기(width 구하기)
    const slide = document.querySelector(".slide");
    let slideWidth = slide.clientWidth;

    // 버튼 엘리먼트 선택하기
    const prevBtn = document.querySelector(".slide_prev_button");
    const nextBtn = document.querySelector(".slide_next_button");

    // 슬라이드 전체를 선택해 값을 변경해주기 위해 슬라이드 전체 선택하기
    let slideItems = document.querySelectorAll(".slide_item");
    // 현재 슬라이드 위치가 슬라이드 개수를 넘기지 않게 하기 위한 변수
    const maxSlide = slideItems.length;

    // 버튼 클릭할 때 마다 현재 슬라이드가 어디인지 알려주기 위한 변수
    let currSlide = 1;

    // 페이지네이션 생성
    const pagination = document.querySelector(".slide_pagination");

    for (let i = 0; i < maxSlide; i++) {
      if (i === 0) pagination.innerHTML += `<li class="active">•</li>`;
      else pagination.innerHTML += `<li>•</li>`;
    }

    const paginationItems = document.querySelectorAll(".slide_pagination > li");

    // 무한 슬라이드를 위해 start, end 슬라이드 복사하기
    const startSlide = slideItems[0];
    const endSlide = slideItems[slideItems.length - 1];
    const startElem = document.createElement("div");
    const endElem = document.createElement("div");

    endSlide.classList.forEach((c) => endElem.classList.add(c));
    endElem.innerHTML = endSlide.innerHTML;

    startSlide.classList.forEach((c) => startElem.classList.add(c));
    startElem.innerHTML = startSlide.innerHTML;

    // 각 복제한 엘리먼트 추가하기
    slideItems[0].before(endElem);
    slideItems[slideItems.length - 1].after(startElem);

    // 슬라이드 전체를 선택해 값을 변경해주기 위해 슬라이드 전체 선택하기
    slideItems = document.querySelectorAll(".slide_item");
    //
    let offset = slideWidth + currSlide;
    slideItems.forEach((i) => {
      i.setAttribute("style", `left: ${-offset}px`);
    });

    function nextMove() {
      currSlide++;
      // 마지막 슬라이드 이상으로 넘어가지 않게 하기 위해서
      if (currSlide <= maxSlide) {
        // 슬라이드를 이동시키기 위한 offset 계산
        const offset = slideWidth * currSlide;
        // 각 슬라이드 아이템의 left에 offset 적용
        slideItems.forEach((i) => {
          i.setAttribute("style", `left: ${-offset}px`);
        });
        // 슬라이드 이동 시 현재 활성화된 pagination 변경
        paginationItems.forEach((i) => i.classList.remove("active"));
        paginationItems[currSlide - 1].classList.add("active");
      } else {
        // 무한 슬라이드 기능 - currSlide 값만 변경해줘도 되지만 시각적으로 자연스럽게 하기 위해 아래 코드 작성
        currSlide = 0;
        let offset = slideWidth * currSlide;
        slideItems.forEach((i) => {
          i.setAttribute("style", `transition: ${0}s; left: ${-offset}px`);
        });
        currSlide++;
        offset = slideWidth * currSlide;
        // 각 슬라이드 아이템의 left에 offset 적용
        setTimeout(() => {
          // 각 슬라이드 아이템의 left에 offset 적용
          slideItems.forEach((i) => {
            // i.setAttribute("style", `transition: ${0}s; left: ${-offset}px`);
            i.setAttribute("style", `transition: ${0.15}s; left: ${-offset}px`);
          });
        }, 0);
        // // 슬라이드 이동 시 현재 활성화된 pagination 변경
        paginationItems.forEach((i) => i.classList.remove("active"));
        paginationItems[currSlide - 1].classList.add("active");
      }
    }
    function prevMove() {
      currSlide--;
      // 1번째 슬라이드 이하로 넘어가지 않게 하기 위해서
      if (currSlide > 0) {
        // 슬라이드를 이동시키기 위한 offset 계산
        const offset = slideWidth * currSlide;
        // 각 슬라이드 아이템의 left에 offset 적용
        slideItems.forEach((i) => {
          i.setAttribute("style", `left: ${-offset}px`);
        });
        // 슬라이드 이동 시 현재 활성화된 pagination 변경
        paginationItems.forEach((i) => i.classList.remove("active"));
        paginationItems[currSlide - 1].classList.add("active");
      } else {
        // 무한 슬라이드 기능 - currSlide 값만 변경해줘도 되지만 시각적으로 자연스럽게 하기 위해 아래 코드 작성
        currSlide = maxSlide + 1;
        let offset = slideWidth * currSlide;
        // 각 슬라이드 아이템의 left에 offset 적용
        slideItems.forEach((i) => {
          i.setAttribute("style", `transition: ${0}s; left: ${-offset}px`);
        });
        currSlide--;
        offset = slideWidth * currSlide;
        setTimeout(() => {
          // 각 슬라이드 아이템의 left에 offset 적용
          slideItems.forEach((i) => {
            // i.setAttribute("style", `transition: ${0}s; left: ${-offset}px`);
            i.setAttribute("style", `transition: ${0.15}s; left: ${-offset}px`);
          });
        }, 0);
        // 슬라이드 이동 시 현재 활성화된 pagination 변경
        paginationItems.forEach((i) => i.classList.remove("active"));
        paginationItems[currSlide - 1].classList.add("active");
      }
    }

    // 버튼 엘리먼트에 클릭 이벤트 추가하기
    nextBtn.addEventListener("click", () => {
      // 이후 버튼 누를 경우 현재 슬라이드를 변경
      nextMove();
    });
    // 버튼 엘리먼트에 클릭 이벤트 추가하기
    prevBtn.addEventListener("click", () => {
      // 이전 버튼 누를 경우 현재 슬라이드를 변경
      prevMove();
    });

    // 브라우저 화면이 조정될 때 마다 slideWidth를 변경하기 위해
    window.addEventListener("resize", () => {
      slideWidth = slide.clientWidth;
    });

    // 각 페이지네이션 클릭 시 해당 슬라이드로 이동하기
    for (let i = 0; i < maxSlide; i++) {
      // 각 페이지네이션마다 클릭 이벤트 추가하기
      paginationItems[i].addEventListener("click", () => {
        // 클릭한 페이지네이션에 따라 현재 슬라이드 변경해주기(currSlide는 시작 위치가 1이기 때문에 + 1)
        currSlide = i + 1;
        // 슬라이드를 이동시키기 위한 offset 계산
        const offset = slideWidth * currSlide;
        // 각 슬라이드 아이템의 left에 offset 적용
        slideItems.forEach((i) => {
          i.setAttribute("style", `left: ${-offset}px`);
        });
        // 슬라이드 이동 시 현재 활성화된 pagination 변경
        paginationItems.forEach((i) => i.classList.remove("active"));
        paginationItems[currSlide - 1].classList.add("active");
      });
    }

    // 드래그(스와이프) 이벤트를 위한 변수 초기화
    let startPoint = 0;
    let endPoint = 0;

    // PC 클릭 이벤트 (드래그)
    slide.addEventListener("mousedown", (e) => {
      startPoint = e.pageX; // 마우스 드래그 시작 위치 저장
    });

    slide.addEventListener("mouseup", (e) => {
      endPoint = e.pageX; // 마우스 드래그 끝 위치 저장
      if (startPoint < endPoint) {
        // 마우스가 오른쪽으로 드래그 된 경우
        prevMove();
      } else if (startPoint > endPoint) {
        // 마우스가 왼쪽으로 드래그 된 경우
        nextMove();
      }
    });

    // 모바일 터치 이벤트 (스와이프)
    slide.addEventListener("touchstart", (e) => {
      startPoint = e.touches[0].pageX; // 터치가 시작되는 위치 저장
    });
    slide.addEventListener("touchend", (e) => {
      endPoint = e.changedTouches[0].pageX; // 터치가 끝나는 위치 저장
      if (startPoint < endPoint) {
        // 오른쪽으로 스와이프 된 경우
        prevMove();
      } else if (startPoint > endPoint) {
        // 왼쪽으로 스와이프 된 경우
        nextMove();
      }
    });

    // 기본적으로 슬라이드 루프 시작하기
    let loopInterval = setInterval(() => {
      nextMove();
    }, 3000);

    // 슬라이드에 마우스가 올라간 경우 루프 멈추기
    slide.addEventListener("mouseover", () => {
      clearInterval(loopInterval);
    });

    // 슬라이드에서 마우스가 나온 경우 루프 재시작하기
    slide.addEventListener("mouseout", () => {
      loopInterval = setInterval(() => {
        nextMove();
      }, 3000);
    });

</script>


{% endblock %}

