{% block content %}
{{userinfo.username}}님의 구매내역
{% for order in orderinfo %}
<div>
    <div class="text-center">
        <br>
        <h4 class="text-left my_title">
            구매번호: {{order.OrderID}}
        </h4>
        <br>
        <h4 class="text-right my_title">
            구매 일자 : {{order.created}}
        </h4>
        <br>
    </div>
</div>
<div class="row mx-auto">
    <div class="col-12 cool-sm-12 col-md-12 col-lg-6 text-center">
        <table class="table my_customer_table">
            <thead class="my_custom_thread">
            <tr>
                <th colspan="5">
                    Your items
                </th>
            </tr>
            </thead>
            <tbody></tbody>
            {% for item in orderitems %}
            {%if item.OrderID_id == order.OrderID%}
            <tr>
                <td>
                    <a href="{{item.product.get_absolute_url}}"><img src="/static/coffee_img/{{item.product.CoffeeID}}.jpg" alt="" class="float-left rounded custom_image"></a>
                </td>
                <td class="text-left">
                    {{item.product.CoffeeName}}
                    <br>
                    Unit Price : {{item.product.Price}}
                    <br>
                    Quantity : {{item.quantity}} x {{item.product.Price}}
                </td>
                <td>
                    {{item.sub_total}}
                </td>
                {%endif%}
                {%endfor%}
            </tbody>
        </table>
    </div>
</div>
{% endfor %}
{% endblock %}
