{% extends 'base.html' %}
{% block content %}

<!--purchase start -->
<section id="mypage" class="purchase">
    <div class="container">
        <div class = title>마이페이지</div>
        </div>
        <div id = 'mypage_body'>
            <div class = 'select_menu_box'>
                <div class="list-group">
                  <a href="#" class="list-group-item active">개인정보</a>
                  <a href="#" class="list-group-item">구매내역</a>
                  <a href="#" class="list-group-item">구독정보</a>
                  <a href="#" class="list-group-item">탈퇴하기</a>
                </div>
            </div>
            <div class = 'content' id = 'private_info'>
                <div class = title>구매내역</div>
                <div class = 'private_info_item' style="border: 1px solid black;">
                    <img src = "">
                    <span>콜롬비아 디카페인</span>
                    <div>
                        <button onclick="review()">리뷰쓰기</button>
                        <div class="reviewbox" style="">
                            <div>
                            </div>
                        </div>
                        <div>
                            <span>142,200</span>
                        </div>
                    </div>

                </div>
                <div class = 'private_info_item' style="border: 1px solid black;">
                    <img src = "">
                    <span>콜롬비아 디카페인</span>
                    <div>
                        <button onclick="review()">리뷰쓰기</button>
                        <div class="reviewbox" style="">
                            <div>
                            </div>
                        </div>
                        <div>
                            <span>142,200</span>
                        </div>
                    </div>

                </div>
                <div class = 'private_info_item' style="border: 1px solid black;">
                    <img src = "">
                    <span>콜롬비아 디카페인</span>
                    <div>
                        <button onclick="review()">리뷰쓰기</button>
                        <div class="reviewbox" style="">
                            <div>
                            </div>
                        </div>
                        <div>
                            <span>142,200</span>
                        </div>
                    </div>

                </div>
                <div class = 'private_info_item'>
                </div>
                <div class = 'private_info_item'>
                </div>
                <div class = 'private_info_item'>
                </div>
                <div class = 'private_info_item'>
                </div>
            </div>
        </div>
    </div><!-- /.container-->

</section><!--/.mypage-->
<!--purchase end -->
<script>
function review(){

}

</script>
{% endblock %}