{% extends 'base.html' %}

{% block head %}
    <!--안에 삽입될 내용 Start -->
    {% block mypageHead %}
    {% endblock %}
    <!--삽입될 내용 End-->
{% endblock %}

{% block content %}
<!--mypage start -->
<section id="mypage_privateinfo" class="mypage">
    <div class="container">
        <div id = "title">마이페이지</div>
        <div id = 'mypage_header'>
            <div id = 'img_box'><img src = '../../static/images/about/profile_image.jpg'></div>
            <div id = 'idEmail_box'>
                <div id = 'userid'><span>{{request.user}}</span></div>
                <div id = 'useremail'><span>{{request.user.email}}</span></div>
            </div>
        </div>
        <div id = 'mypage_body'>
            <div class = 'select_menu_box'>
                <div class="list-group">
                  <a href="{% url 'main:update' %}" id="privateinfo" class="list-group-item active">개인정보</a>                  
                    <a href="{% url 'main:purchase' %}" id="purchase" class="list-group-item">구매내역</a>
                    <a href="{% url 'main:subscribe' %}" id="subscribe" class="list-group-item">구독정보</a>
                    <a id="resign" class="list-group-item">회원탈퇴</a>
                </div>
            </div>

            <!--안에 삽입될 내용 Start -->
            {% block mypageContent %}
            {% endblock %}
            <!--삽입될 내용 End-->
        </div>
    </div>
</section>

<script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
<script>
    function menuclick(){
            document.querySelectorAll('.select_menu')
    }
    $(document).ready(function(){
        $(".list-group-item").click(function(){
            $(".list-group-item").removeClass("active");
            $(this).addClass("active");
            privateInfo();
            /* "mypage_"+ $(this).attr("id") +".html" */
        });
    });
    function privateInfo(){
        window.location = "/mypage/private_info/";
    }
</script>
{% endblock %}
