<div>
    <p>
        <h1>서비스 소개</h1>
        <h2>추천 서비스</h2>
        처음 방문하시는 분부터 가입해 주신 회원분까지 내 취향에 맞는 원두를 찾을 수 있는 원두두만의 서비스 입니다.
        회원가입을 해주신 분들은 함께해 주시는 만큼 회원님의 취향이 녹아든 진정한 내 입맛의 원두를 특별히 추천받으실 수 있습니다.

         <h2>구독 서비스</h2>
        최소 3달에서 1년이라는 기간 동안 원하시는 신선한 원두를 집에서 편안하게 받아보실 수 있습니다.
        회원 등급에 따라 원두두가 여러분을 위해 준비한 선물을 받으실 수 있습니다.

        <h3>* 회원혜택정보</h3>
        <ul>
            <li>소중한 회원 (3개월, 6개월)</li>

            매달 한 종류의 추천 원두 샘플을 추가로 받으실 수 있습니다.

            <li>프리미엄 회원(12개월)</li>
            매달 두 종류의 추천 원두 샘플을 보내드립니다.

            <li>블랙회원(12개월)</li>
            매달 두 종류의 추천 원두 샘플 + 생일선물(원하시는 원두 상품) + 모든 상품 구매 시 20% 할인
        </ul>
    </p>
</div>

