{% extends 'main/mypage.html' %}
{% load static %}
{%load humanize%}
{% block mypageContent %}

<head>
    <link href="/static/css/star.css" rel="stylesheet"/>
</head>
​
<!--mypage start -->
<div class="content" id="private_info">
    <div class="title">{{userinfo.username}}님의 구매 내역</div>

    {% for order in orderinfo %}
    <div style="border: 1px solid black; margin-bottom:10px;">
        <div class = 'private_info_item'><br>
            <h4 class="text-left my_title">주문 번호: {{order.OrderID}}</h4>
            <h4 class="text-left my_title">구매 일자: {{order.created|date:"o년 M d일 A h:i"}}</h4><br>
        </div>
        <div class="row mx-auto">
            <div class="col-20 col-sm-20 col-md-20 col-lg-10 text-center">
                <table class="table my_customer_table">
                    <thead class="my_custom_thread">
                    <tr><th colspan="5">구매한 아이템</th></tr>
                    </thead>
                    <tbody>
                    {% for item in orderitems %}
                    {% if item.OrderID_id == order.OrderID %}
                    <tr>
                        <td>
                            <a href="/coffee/{{item.product.CoffeeID}}"><img src="/static/coffee_img/{{item.product.CoffeeID}}.jpg" alt="" class="float-left rounded custom_image" style="width:150px;"></a>
                        </td>
                        <td class="text-left">
                            <div style="display:flex;">
                                {% for roastery in Roasteryinfo %}
                                {% if roastery.RoasteryID == item.product.RoasteryID_id %}
                                <img class="roas_img" src="/static/roastery_img/{{roastery.RoasteryName}}.jpg" style="width:20px; height:20px; border-radius:5px; margin-right:5px; margin-top:5px;">
                                <strong class="roas-name" style="margin-top:5px; font-size:12px;">{{roastery.RoasteryName}}</strong>
                                {%endif%}
                                {%endfor%}
                            </div>

                            <h3 style="margin-top:5px; margin-bottom:3px;">{{item.product.CoffeeName}}</h3>

                            용량 : {{item.product.Capacity}}
                            <br>
                            가격 : {{item.product.Price|intcomma}}원
                            <br>
                            구매량 : {{item.quantity}}개
                        </td>
                        <td>
                            {{item.sub_total|intcomma}}원
                        </td>
                        {% if review.CoffeeID_id == item.product.CoffeeID & if review.date != order.created %}
                        <td>
                            <div class="reviewbox">
                                <form class="mb-3" name="myform" id="myform" method="post">
                                    {% csrf_token %}
                                    <fieldset>
                                        <span class="text-bold">별점을 선택해주세요</span>
                                        <input type="radio" name="reviewStar" value="5" id="rate1"><label
                                            for="rate1">★</label>
                                        <input type="radio" name="reviewStar" value="4" id="rate2"><label
                                            for="rate2">★</label>
                                        <input type="radio" name="reviewStar" value="3" id="rate3"><label
                                            for="rate3">★</label>
                                        <input type="radio" name="reviewStar" value="2" id="rate4"><label
                                            for="rate4">★</label>
                                        <input type="radio" name="reviewStar" value="1" id="rate5"><label
                                            for="rate5">★</label>
                                    </fieldset>
                                    <div>
                                        <textarea class="col-auto form-control" type="text" id="reviewContents"
                                                  placeholder="소중한 의견을 남겨주세요!"></textarea>
                                    </div>
                                    <div>
                                        <a href="{% url 'main:add' item.product.CoffeeID %}" class="custom_a" style="margin-left:10px;">
                                        <input type="submit">
                                        </a>&nbsp;
                                    </div>
                                </form>
                            </div>
                        </td>
                        {%else%}
                        <td>

                        </td>
                    </tr>
                    {%endif%}
                    {%endfor%}
                    <tr>
                        <td></td> <!-- 원두 이미지 -->
                        <td></td> <!-- 원두 정보-->
                        <td>
                            {%for id, value in total.items%}{% if id == order.OrderID %}
                            총 구매 금액 : {{value|intcomma}}원
                            {%endif%}{%endfor%}
                        </td> <!-- 가격 정보 -->
                        <td></td>  <!--리뷰 공간-->
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endfor %}
​
</div><!-- /.container-->
</section><!--/.mypage-->
<!--purchase end -->
{%endblock%}