{% extends 'base.html' %}
{% block content %}
<!-- signin start -->

<section id="signin" class="signin">    <!-- signin -->
    <div class="container">
        <div class = title>로그인</div>
        <div id = 'signin_header'>

        </div>
        <div id = 'signin_body'>
            <!--  <div id = 'img_box'><img src = '../../static/images/about/profile_image.jpg'></div>   -->
            <div id = 'login_box'>
                <div id = 'id'>
                    <span>ID</span>
                    <span><input type="text" placeholder="id"></span></div>
                <div id = 'password'>
                    <span>password</span>
                    <span><input type="password" placeholder="password"></span>
                </div>
            </div>


        </div>
    </div><!-- /.container-->

</section>      <!-- signin -->
<!-- signin end -->

{% endblock %}

<script>

</script>