{% extends "base.html" %}
{% load humanize %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/cart.css' %}">
{%endblock%}

{% block content %}
    {% if not cart_items %}
    <div class="cart-container">
        <div class="header">
            <div class="cart-title">
                <br>
                <h1 class="my_title">
                    장바구니
                </h1>
                <br>
            </div>
        </div>
        <div class="row mx-auto">
            <form action="/order-created" method="POST">
                {% csrf_token %}
                <div>
                    <table class="table my_customer_table ff">
                        <thead class="my_custom_thread">
                        <tr>
                            <th colspan="10">
                                Your items
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <div class="wrap">
                                        <img class="sorry_img" src="/static/images/about/sorry.png">
                                        <h5><b>장바구니가 비었습니다.</b></h5>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div>
                    <table class="table my_customer_table">
                        <thead class="my_custom_thread">
                        <tr>
                            <th colspan="5">
                                Checkout
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>
                                <span style="color:grey;">구매  버튼을 누르기 전, 구매 개수와 금액을 다시 확인하세요.</span>
                            </td>
                        </tr>
                        <tr>
                            <td class="text-left">
                                <div style="text-align:right;">
                                    <h5 style="align-items:center;color: rgb(181, 181, 181);">구매 금액 : <strong>0원</strong></h5>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </form>
            <div class="mx-auto" style="text-align:right;">
                <a href="{% url 'products:coffee' %}" class="btn btn-secondary btn-block my_custom_button">쇼핑 계속하기</a>
            </div>
        </div>
    </div>
    {% else %}
    <div class="cart-container">
        <div class="header">
            <div class="cart-title">
                <br>
                <h1 class="my_title">
                    장바구니
                </h1>
                <br>
            </div>
        </div>
        <div class="row mx-auto">
            <form action="/order-created" method="POST">
                {% csrf_token %}
                <div>
                    <table class="table my_customer_table ff">
                        <thead class="my_custom_thread">
                        <tr>
                            <th colspan="10">
                                Your items
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for cart_item in cart_items %}
                        <tr>
                            <td>
                                <a href="/coffee/{{cart_item.product.CoffeeID}}"><img src="/static/coffee_img/{{cart_item.product.CoffeeID}}.jpg" alt="" class="float-left rounded custom_image" style="width:300px;"></a>
                            </td>
                            <td class="text-left">
                                <div class="text-left-content-wrap">
                                <div class="text-left-content">
                                    <h2>{{cart_item.product.CoffeeName}}</h2>
                                    
                                    <div class="section2-3">
                                        <a class="roas-btn" href="/roastery/{{cart_item.product.RoasteryID_id}}/">
                                            {% for roastery in Roasteryinfo %}
                                                {% if roastery.RoasteryID == cart_item.product.RoasteryID_id %}
                                                    <img class="roas_img" src="/static/roastery_img/{{roastery.RoasteryName}}.jpg">
                                                {%endif%}
                                            {%endfor%}
                                            {% for roastery in Roasteryinfo %}
                                                {% if roastery.RoasteryID == cart_item.product.RoasteryID_id %}
                                                    <p class="roas-name">{{roastery.RoasteryName}}<p>
                                                {%endif%}
                                            {%endfor%}
                                            <div class="material-symbols-outlined" id="nav-btn">navigate_next</div>
                                        </a>
                                    </div>

                                    용량 : {{cart_item.product.Capacity}}
                                    <br>
                                    가격 : {{ cart_item.product.Price|intcomma }}원
                                    <br><br>
                                    <div style="display:flex;">
                                        <a href="{% url 'cart:cart_remove' cart_item.product.CoffeeID %}" class="custom_a" style="margin-right:10px;">
                                            <span class="material-symbols-outlined" style="color:rgb(129, 96, 76);">remove_circle</span>
                                        </a>
                                        {{cart_item.quantity}}
                                        <a href="{% url 'cart:add_cart' cart_item.product.CoffeeID %}" class="custom_a" style="margin-left:10px;">
                                            <span class="material-symbols-outlined" style="color:rgb(129, 96, 76);">add_circle</span>
                                        </a>&nbsp;
                                    </div>
                                </div>
                            </div>
                            </td>
                            <td>
                                <div class="price">
                                    <p>총 금액</p>
                                    {{cart_item.sub_total|intcomma}}원
                                </div>
                            </td>
                            <td>
                                <div style="display:flex;margin-top: 4vh;">
                                <a href="{% url 'cart:full_remove' cart_item.product.CoffeeID %}" class="custom_a">
                                    <span class="material-symbols-outlined" style="color:rgb(129, 96, 76);">delete</span>
                                </a>&nbsp;
                                </div>
                            </td>
                        </tr>
                        {%endfor%}
                        </tbody>
                    </table>
                </div>
                <div>
                    <table class="table my_customer_table">
                        <thead class="my_custom_thread">
                        <tr>
                            <th colspan="5">
                                Checkout
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>
                                <span style="color:grey;">구매  버튼을 누르기 전, 구매 개수와 금액을 다시 확인하세요.</span>
                            </td>
                        </tr>
                        <tr>
                            <td class="text-left">
                                <div style="text-align:right;">
                                    <h5 style="align-items:center;">구매 금액 : <strong>{{total|intcomma}}원</strong></h5>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </form>
            <div class="mx-auto" style="text-align:right;">
                <a href="{% url 'products:coffee' %}" class="btn btn-secondary btn-block my_custom_button">쇼핑 계속하기</a>
                <a href="{% url 'cart:order-created'%}" class="btn btn-secondary btn-block my-custom_button">구매하기</a>
            </div>
        </div>
    </div>
    {% endif %}
{%endblock%}