{% extends "base.html" %}

{% block head %}
<style>
	#password_reset {
		width: 70vw;
		height: 50vh;
		margin: auto;
		margin-top: 10vh;
		display: flex;
		justify-content: center;
		}
		
		.done-container {
			margin: auto;
			align-items: center;
		}

		.btn-space {
			display:flex;
		}

		.cus-btn {
			margin:auto;
			margin-top: 5vh;
			background-color:rgb(129, 96, 76);
			border:none;
			padding:12px;
			border-radius:15px;
		}
		
</style>
{% endblock %}

{% block content %}
<section id="password_reset" class="signin">
	<div class="done-container">
        <div class="title"><h2>이메일 발송 완료</h2></div>
		<div class="btn-space">
			<button class="cus-btn"><a href="/common/login/" style="color:white;text-decoration:none;">로그인 화면 가기</a></button>
		</div>
	</div>
</section>

{% endblock %}