{% extends 'base.html' %}
{% block head %}
<style>
	#password_reset {
		width: 50vw;
		height: 30vh;
		margin: auto;
		margin-top: 10vh;
		display: flex;
		justify-content: center;
		}

		.done-container {
			margin: auto;
			align-items: center;
		}

		.btn-space {
			display:flex;
		}

		.cus-btn {
			margin:auto;
			margin-top: 5vh;
			background-color:rgb(129, 96, 76);
			border:none;
			padding:12px;
			border-radius:15px;
		}

</style>
{% endblock %}
{% block content %}

<section id="password_reset" class="signin">
	<div class="container my-3" >
	    <div class = title style="margin-left:400px;">비밀번호 변경 완료</div>

        <p style="margin-left:360px;" >패스워드 변경이 완료되었습니다. 다시 <a href="{% url 'common:login' %}">로그인</a> 해주세요.</p>

    </div>
</section>
{% endblock %}