[type="radio"]:checked {
    border: 0.4em solid tomato;
  } 

[type="radio"] {
    appearance: none;
    border: max(2px, 0.1em) solid gray;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    transition: border 0.5s ease-in-out;
    -webkit-appearance: none;
  }

  
[type="radio"]:hover {
    box-shadow: 0 0 0 max(4px, 0.2em) lightgray;
    cursor: pointer;
  }

h5 {
    font-size: 30px;
}

body {
    background-color: lightblue;
  }

[type="checkbox"]:checked {
    border: 0.4em solid tomato;
} 

.hm {
  width: 150px;
  height: 200px;
  background: #fff;
  border: 1px solid rgb(77,77,77);
  border-radius: 10px;
  font-weight: 500;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  &:hover {
    background: rgb(77,77,77);
    color: #fff;
  }
}