{% extends 'main/mypage.html' %}
{% load static %}
{% load humanize %}
{% load condition %}

{% block mypageHead %}
<link rel="stylesheet" type="text/css" href="{% static 'css/mypage/history.css' %}">
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
{% endblock %}

{% block mypageContent %}

<!-- purchase start -->
<div class="history-wrapper">
    <div class="subtitle">
        <h2>{{userinfo.username}}님의 구매 내역</h2>
    </div>


    <div class="accordion" id="accordionPanelsStayOpenExample">
        {% for order in orderinfo %}
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapse{{ order.OrderID }}" aria-expanded="true" aria-controls="panelsStayOpen-collapse{{ order.OrderID }}">
                        <span class="text-left my_title">주문 번호: {{ order.OrderID }}</span>
                        <span class="text-left my_title">구매 일자: {{ order.created|date:"o년 M d일 A h:i" }}</span>
                    </button>
                </h2>
    
                <div id="panelsStayOpen-collapse{{ order.OrderID }}" class="accordion-collapse collapse show">
                    <div class="accordion-body">
                        <ul class="list-group">
                        {% for item in orderitems %}
                        {% if item.OrderID_id == order.OrderID %}
                        <li class="list-group-item">
                            <div class="row">
                                <div class="col-md-4">
                                    <a href="/coffee/{{item.product.CoffeeID}}">
                                        <img src="/static/coffee_img/{{item.product.CoffeeID}}.jpg" alt="" class="coffee-img">
                                    </a>
                                </div>
            
                                <div class="col-md-7 info">
                                    <h2 class="coffee-name">{{item.product.CoffeeName}}</h2>
            
                                    <div class="roastery">
                                        {% for roastery in Roasteryinfo %}
                                        {% if roastery.RoasteryID == item.product.RoasteryID_id %}
                                        <img class="roas_img" src="/static/roastery_img/{{roastery.RoasteryName}}.jpg">
                                        <span class="roas-name">{{roastery.RoasteryName}}</span>
                                        {%endif%}
                                        {%endfor%}
                                    <div>
                        
                                    <div class="coffee-info">
                                        <ul>
                                            <li>용량 : {{item.product.Capacity}}</li>
                                            <li>가격 : {{item.product.Price|intcomma}}원</li>
                                            <li>구매량 : {{item.quantity}}개</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
            
                            <span>{{item.sub_total|intcomma}}원</span>

                        {% if not Reviewinfo %}
                            <!--리뷰가 0개 일 때 -->
                            <tr>
                                <td colspan="3">
                                    <button onclick="toggleReviewForm(this)">리뷰쓰기</button>
                                    <div class="reviewbox" style="display: none;">
                                        <h2>소중한 의견</h2>
                                        <form id="reviewForm" action="/review/create/" method="POST">
                                            {% csrf_token %}
                                            <input type="hidden" name="order_id" value="{{item.OrderID_id}}">
                                            <div class ="star_rating">
                                                <span class="star on" value="1"> </span>
                                                <span class="star" value="2"> </span>
                                                <span class="star" value="3"> </span>
                                                <span class="star" value="4"> </span>
                                                <span class="star" value="5"> </span>
                                                <input type="hidden" name="{{item.product.CoffeeID}}" id="starRatingInput" value="" />
                                            </div>
                                            <div class="add_review">
                                                <textarea class="star_box" name = "review_text" placeholder="리뷰 내용을 작성해주세요."></textarea>
                                                <input type="submit" class="btn02" value="리뷰 등록"/>
                                            </div>
                                        </form>
                                    </div>
                                </td>
                            </tr>
                            {% else %} <!-- 사용자가 쓴 리뷰가 존재할 때 -->
                            {% if item_pairs|get_item:item.id in str_pair %}
                            <!-- 리뷰 중 해당 아이템에 대한 정보가 있다면-->
                            <tr>
                                {% for review in Reviewinfo %}
                                {% if item.product.CoffeeID == review.Coffee_id and item.OrderID_id == review.Order_id %}
                                <td colspan="3">
                                    <button onclick="toggleReviewForm(this)">리뷰 보기</button>
                                    <div class="reviewbox" style="display: none;">
                                    {{review.Stars}} <img src="/static/images/star.png" style="width:20px; height:20px;">
                                    <br>
                                    {{review.content}}
                                    <br>
                                    작성일 : {{review.created_date|date:"o년 M d일 A h:i"}}
                                    </div>
                                </td>
                                {%endif%}
                                {%endfor%}
                            </tr>
                            {%else %}
                            <tr>
                                <td colspan="3">
                                    <button onclick="toggleReviewForm(this)">리뷰쓰기</button>
                                    <div class="reviewbox" style="display: none;">
                                        <h2>소중한 의견</h2>
                                        <form id="reviewForm" action="/review/create/" method="POST">
                                            {% csrf_token %}
                                            <input type="hidden" name="order_id" value="{{item.OrderID_id}}">
                                            <div class ="star_rating">
                                                <span class="star on" value="1"> </span>
                                                <span class="star" value="2"> </span>
                                                <span class="star" value="3"> </span>
                                                <span class="star" value="4"> </span>
                                                <span class="star" value="5"> </span>
                                                <input type="hidden" name="{{item.product.CoffeeID}}" id="starRatingInput" value="" />
                                            </div>
                                            <div class="add_review">
                                                <textarea class="star_box" name = "review_text" placeholder="리뷰 내용을 작성해주세요."></textarea>
                                                <input type="submit" class="btn02" value="리뷰 등록"/>
                                            </div>
                                        </form>
                                    </div>
                                </td>
                            </tr>

                            </li>
                            {%endif%}
                        {%endif%}
                        {%endif%}
                        {%endfor%}
                        </ul>
                    </div>
                </div>

            </div>
            {%endfor%}
        </div>


<script>
    function toggleReviewForm(button) {
        $(button).siblings('.reviewbox').toggle();
    }
    // 별점 선택 및 리뷰 제출 : https://shorturl.at/cuGM8
    $(document).ready(function() {
        // 별점 선택 시 동작
        $('.star_rating > .star').click(function() {
            $(this).parent().children('span').removeClass('on');
            $(this).addClass('on').prevAll('span').addClass('on');

            var starValue = $(this).attr('value');
            $(this).parent().children('input').val(starValue);
            /* $('#starRatingInput').val(starValue);  */
        });

        // 리뷰 폼 제출 시 동작
        $('#reviewForm').submit(function(e) {
           // e.preventDefault(); // 기본 폼 제출 동작 막기 (테스트용) //

            var formData = $(this).serialize();
            console.log(formData); // 서버에 데이터 전송 (테스트용)

            // 실제로는 여기서 AJAX를 사용하여 서버에 데이터를 전송할 수 있습니다.
            // 예를 들어:

            $.ajax({
                type: "POST",
                url: $(this).attr('action'),
                data: formData,
                success: function(response) {
                    // 서버 응답 처리
                },
                error: function(error) {
                    // 오류 처리
                }
            });

        });
    });

</script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script> <!-- jQuery 라이브러리 -->
<script src="{% static 'js/scripts.js' %}"></script> <!-- 사용자 정의 JavaScript 파일 -->
{% endblock %}