{% extends 'main/mypage.html' %}
{% load static %}
{%load humanize%}
{% block mypageContent %}

<!-- purchase start -->
<div class="content" id="purchase">
    <div class="subtitle">
        <span>{{userinfo.username}}님의 구매 내역</span>
    </div>

    {% for order in orderinfo %}
    <div class = 'private_info_item'>
        <div id="order_info_head">
            <span class="text-left my_title">주문 번호: {{order.OrderID}}</span>
            <span class="text-left my_title">구매 일자: {{order.created|date:"o년 M d일 A h:i"}}</span>
        </div>
        <div class="row mx-auto" id="order_info_body">
            <div class="text-center">
                <table class="table my_customer_table">
                    <tbody>
                        {% for item in orderitems %}
                        {% if item.OrderID_id == order.OrderID %}
                        <tr>
                            <td style="width: 30%;">
                                <a href="/coffee/{{item.product.CoffeeID}}">
                                    <img src="/static/coffee_img/{{item.product.CoffeeID}}.jpg" alt="" class="float-left rounded custom_image">
                                </a>
                            </td>
                            <td class="text-left order_coffee_info">
                                <div>
                                    {% for roastery in Roasteryinfo %}
                                    {% if roastery.RoasteryID == item.product.RoasteryID_id %}
                                    <img class="roas_img" src="/static/roastery_img/{{roastery.RoasteryName}}.jpg">
                                    <span class="roas-name">{{roastery.RoasteryName}}</span>
                                    {%endif%}
                                    {%endfor%}
                                </div>
                                <div class="order_coffee_item">
                                    <span class="order_coffee_name">{{item.product.CoffeeName}}</span>
                                    <span>용량 : {{item.product.Capacity}}</span>
                                    <span>가격 : {{item.product.Price|intcomma}}원</span>
                                    <span>구매량 : {{item.quantity}}개</span>
                                </div>
                            </td>
                            <td class="order_coffee_price"><span>{{item.sub_total|intcomma}}원</span></td>
                        </tr>
                        {% if not Reviewinfo %}
                        <!--리뷰가 0개 일 때 -->
                        <tr>
                            <td colspan="3">
                                <button onclick="toggleReviewForm(this)">리뷰쓰기</button>
                                <div class="reviewbox" style="display: none;">
                                    <h2>소중한 의견</h2>
                                    <form id="reviewForm" action="/review/create/" method="POST">
                                        {% csrf_token %}
                                        <input type="hidden" name="order_id" value="{{item.OrderID_id}}">
                                        <div class ="star_rating">
                                            <span class="star on" value="1"> </span>
                                            <span class="star" value="2"> </span>
                                            <span class="star" value="3"> </span>
                                            <span class="star" value="4"> </span>
                                            <span class="star" value="5"> </span>
                                            <input type="hidden" name="{{item.product.CoffeeID}}" id="starRatingInput" value="" />
                                        </div>
                                        <div class="add_review">
                                            <textarea class="star_box" name = "review_text" placeholder="리뷰 내용을 작성해주세요."></textarea>
                                            <input type="submit" class="btn02" value="리뷰 등록"/>
                                        </div>
                                    </form>
                                </div>
                            </td>
                        </tr>
                        {% else %} <!-- 사용자가 쓴 리뷰가 존재할 때 -->
                        {% if item.product.CoffeeID in coffeeids and item.OrderID_id in orderids %} <!-- 리뷰 중 해당 아이템에 대한 정보가 있다면-->
                        {% for review in Reviewinfo %}
                        {% if item.product.CoffeeID == review.Coffee_id and item.OrderID_id == review.Order_id %}
                        <tr>
                            <td colspan="3">
                                <button onclick="toggleReviewForm(this)">리뷰 보기</button>
                                <div class="reviewbox" style="display: none;">
                                {{review.Stars}} <img src="/static/images/star.png" style="width:20px; height:20px;">
                                <br>
                                {{review.content}}
                                <br>
                                작성일 : {{review.created_date|date:"o년 M d일 A h:i"}}
                                </div>
                            </td>
                        </tr>
                        {%endif%}
                        {%endfor%}
                        {%else %} <!-- 리뷰목록 중 해당 아이템에 대한 정보가 없다면-->
                        <tr>
                            <td colspan="3">
                                <button onclick="toggleReviewForm(this)">리뷰쓰기</button>
                                <div class="reviewbox" style="display: none;">
                                    <h2>소중한 의견</h2>
                                    <form id="reviewForm" action="/review/create/" method="POST">
                                        {% csrf_token %}
                                        <input type="hidden" name="order_id" value="{{item.OrderID_id}}">
                                        <div class ="star_rating">
                                            <span class="star on" value="1"> </span>
                                            <span class="star" value="2"> </span>
                                            <span class="star" value="3"> </span>
                                            <span class="star" value="4"> </span>
                                            <span class="star" value="5"> </span>
                                            <input type="hidden" name="{{item.product.CoffeeID}}" id="starRatingInput" value="" />
                                        </div>
                                        <div class="add_review">
                                            <textarea class="star_box" name = "review_text" placeholder="리뷰 내용을 작성해주세요."></textarea>
                                            <input type="submit" class="btn02" value="리뷰 등록"/>
                                        </div>
                                    </form>
                                </div>
                            </td>
                        </tr>
                        {%endif%} <!-- 존재하는 리뷰에 대한 조건절 끝 -->
                    {%endif%} <!-- 사용자가 작성한 리뷰 유무 조건절 끝-->
                        {%endif%} {%endfor%} <!-- orderitem에 대해 -->
                        <tr>
                            <td></td> <!-- 원두 이미지 -->
                            <td></td> <!-- 원두 정보-->
                            <td>
                                {%for id, value in total.items%}
                                {% if id == order.OrderID %}
                                총 구매 금액 : {{value|intcomma}}원
                                {%endif%}
                                {%endfor%}
                            </td> <!-- 가격 정보 -->
                            <td></td>  <!--리뷰 공간-->
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    {%endfor%} <!-- 전체 order에 대한 forloop 끝-->


</div><!-- /.container-->
</section><!--/.mypage-->
<!--purchase end -->

<script>
    function toggleReviewForm(button) {
        $(button).siblings('.reviewbox').toggle();
    }
    // 별점 선택 및 리뷰 제출
    $(document).ready(function() {
        // 별점 선택 시 동작
        $('.star_rating > .star').click(function() {
            $(this).parent().children('span').removeClass('on');
            $(this).addClass('on').prevAll('span').addClass('on');

            var starValue = $(this).attr('value');
            $(this).parent().children('input').val(starValue);
            /* $('#starRatingInput').val(starValue);  */
        });

        // 리뷰 폼 제출 시 동작
        $('#reviewForm').submit(function(e) {
           // e.preventDefault(); // 기본 폼 제출 동작 막기 (테스트용) //

            var formData = $(this).serialize();
            console.log(formData); // 서버에 데이터 전송 (테스트용)

            // 실제로는 여기서 AJAX를 사용하여 서버에 데이터를 전송할 수 있습니다.
            // 예를 들어:

            $.ajax({
                type: "POST",
                url: $(this).attr('action'),
                data: formData,
                success: function(response) {
                    // 서버 응답 처리
                },
                error: function(error) {
                    // 오류 처리
                }
            });

        });
    });

</script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script> <!-- jQuery 라이브러리 -->
<script src="{% static 'js/scripts.js' %}"></script> <!-- 사용자 정의 JavaScript 파일 -->
{% endblock %}